.cards {
  &.article {
    &.list {
      &:has(.spinner-cards) {
        height: 28.75rem;
      }

      & div > ul {
        grid: none;
        grid-gap: 0;
      }

      & li {
        box-shadow: none;
        border: none;
        border-bottom: 0.0625rem solid var(--gray4);
        display: block;
        width: 100%;

        &:last-child {
          border-bottom: none;
        }

        & a {
          width: 100%;
          height: 100%;
          display: block;
          display: flex;
          padding: 1.25rem;
          box-sizing: border-box;

          &.video-card {
            & .cards-image-container {
              position: relative;

              &::before {
                height: 2.5rem;
                width: 2.5rem;
                left: 1.25rem;
                top: 1.25rem;
                background-color: var(--gray2);
                border-radius: 2.5rem;
                opacity: 0.8;
                transition: all 0.2s ease-in-out;
                position: absolute;
                content: '';
              }

              &::after {
                left: 2.125rem;
                top: 1.75rem;
                font-family: var(--cme-group-icons);
                color: var(--white);
                font-style: normal;
                content: var(--icon-play);
                position: absolute;
              }
            }
          }

          & .cards-image-container {
            display: inline-block;

            & img {
              height: 5rem;
              width: 5rem;
              object-fit: cover;
            }
          }

          & .cards-body-container {
            display: inline-block;
            min-height: auto;
            height: 5rem;
            padding: 0 1.25rem;
            width: calc(100% - 6.25rem);

            & .cards-time {
              display: block;
              color: var(--gray3);
              font-size: .6875rem;
              line-height: .6875rem;
              margin-top: 0;

              & .icon {
                width: 0.625rem;
                height: 0.625rem;
                color: var(--blue5);
                padding-right: 0.625rem;
                filter: none;

                & img {
                  filter: var(--blue5-filter);
                }
              }
            }

            & .cards-date {
              display: none;
            }

            & h3 {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: .875rem;
              line-height: 1.25rem;
              margin-top: .625rem;
              margin-bottom: 0;
              color: var(--blue1);
              font-family: var(--averta);
              font-weight: 600;
            }
          }

          &:hover {
            text-decoration: none;

            & .cards-body-container {
              & h3 {
                color: var(--blue5);
              }
            }
          }
        }
      }
    }
  }
}
