.cards div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 1.5rem;
}

.cards div > ul > li {
  border: 0.0625rem solid #dadada;
  background-color: var(--background-color);
}

.cards div .cards-card-body {
  margin: 1rem;
}

.cards div .cards-card-image {
  line-height: 0;
}

.cards div > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .glider-prev {
  left: 0;
  height: 100%;
  width: 4.0625rem;
  top: 0;
  box-shadow: none;
}

.cards .glider-prev:hover {
  background: linear-gradient(90deg, #fff, hsl(0deg 0% 100% / 0%)) !important;
}

.cards .glider-next {
  right: 0;
  height: 100%;
  width: 4.0625rem;
  top: 0;
  box-shadow: none;
}

.cards .glider-next:hover {
  background: linear-gradient(90deg, hsl(0deg 0% 100% / 0%), #fff) !important;
}

.cards .glider-prev.inverse:hover {
  background: linear-gradient(90deg, var(--blue2), rgb(17 43 74 / 0%)) !important;
}

.cards .glider-next.inverse:hover {
  background: linear-gradient(-90deg, var(--blue2), rgb(17 43 74 / 0%)) !important;
}

.cards .glider-prev.inverse img,
.cards .glider-next.inverse img {
  filter: invert(1);
}

.cards .glider-prev img,
.cards .glider-next img {
  width: 1.6875rem;
  filter: brightness(0) saturate(100%) invert(12%) sepia(27%) saturate(2740%) hue-rotate(184deg) brightness(97%) contrast(92%);
}

.cards .glider-prev:active img,
.cards .glider-next:active img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(59%) saturate(2700%) hue-rotate(167deg) brightness(102%) contrast(101%);
}

.cards .glider-prev.disabled,
.cards .glider-next.disabled {
  opacity: 0;
}

@media (width >= 769px) {
  .cards .glider-prev img,
  .cards .glider-next img {
    opacity: 0;
  }

  .cards .glider-prev:hover img,
  .cards .glider-next:hover img {
    opacity: 1;
  }
}

.cards .glider::-webkit-scrollbar {
    opacity: 0;
    height: 0
}

.cards .no-results {
  border: 1px solid #112b4a;
  color: #112b4a;
  font-size: 2.125rem;
  margin: .9375rem auto;
  text-align: center;

  & h4 {
    padding: 1.25rem;
  }
}
