.cards.starter {
  & ul {
    display: block;
    justify-content: space-between;
  
    @media (width >= 993px) {
      display: flex;
    }
  
    & li {
      width: 100%;
      border: none;
    }
  
    & .cards-card-body {
      padding: 1.25rem;
      margin: 0;
      position: relative;
      height: 100%;
  
      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        font-family: var(--averta);
      }
  
      & p {
        &:not(.button-container) {
          font-size: 0.875rem;

          & .icon {
            filter: var(--blue4-filter);
            margin-right: 0.25rem;
          }
    
          & a {
            &:hover {
              background-position: 0;
              color: var(--blue4);
              text-decoration: underline !important;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
          font-size: 1rem;
        }
      }
    }
  }

  &.blue2-bg {
    & .cards-card-body {
      background-color: var(--blue2);

      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        color: var(--white);
      }

      & p {
        &:not(.button-container) {
          font-size: 1rem;
          color: var(--white);

          & .icon {
            filter: var(--blue5-filter);
            margin-right: 0.625rem;
          }

          & a {
            color: var(--blue5);

            &:hover {
              background-position: 0;
              color: var(--blue5);
              text-decoration: underline !important;
            }
          }
        }
      }

      & .button.secondary {
        color: var(--white);

        &:hover {
          color: var(--blue2);
        }
      }
    }
  }

  &.text-2 {
    & .cards-card-body {
      & p:not(.button-container) {
        font-family: var(--averta);
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: .03em;
        line-height: 1.75rem;
        margin-bottom: 1.875rem;
      }
    }
  }

  &.no-padding {
    & .cards-card-body {
      padding: 0;
    }
  }

  &.auto-height {
    & .cards-card-body {
      height: auto;
    }
  }
}
