.cards-wrapper .cards-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.625rem;

    h3 {
        margin: 0;
    }

    a {
        color: var(--blue4);
        font-weight: 600;
    }
}

.cards.related-courses ul {
    grid-template-columns: repeat(3, 1fr);
}

.cards.related-courses .cards-card-body img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (width >= 993px) {
    .cards.related-courses .cards-card {
        min-height: 31.25rem !important;

        .cards-card-body {
            top: 18.75rem;
        }

        a:hover .cards-card-body {
            min-height: 31.625rem;
            top: 13.75rem;
        }
    }
}