.cards {
  &.white-raised-box {
    & ul {
      display: block;
      justify-content: space-between;

      @media (width >= 769px) {
        display: flex;
        height: max-content;
      }
    }

    & li {
      width: 100%;
      background-color: var(--white);
      border: none;
      box-shadow: 0 0.0625rem 0.125rem 0 rgba(60 64 67 / 20%), 0 0.125rem 0.375rem 0.125rem rgba(60 64 67 / 15%);

      &.empty-card {
        box-shadow: none;
      }

      & .cards-card-body {
        padding: 1.25rem;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        justify-content: flex-start !important;
        flex-wrap: wrap;

        & h4 {
          color: var(--blue2);
          margin: 0 0 1.25rem;
          font-size: 1.25rem;
          line-height: 1.625rem;

          & a {
            color: var(--blue2);

            &:hover {
              text-decoration: none;
              color: var(--blue5);

              &::after {
                margin-left: 0.5rem;
              }
            }

            &::after {
              font-family: var(--cme-group-icons);
              content: var(--icon-chevron-right);
              color: var(--blue5);
              display: inline-block;
              font-size: 1rem;
              margin-left: 0.3125rem;
              font-weight: 400;
            }
          }
        }

        & h5 {
          margin-bottom: 0.625rem;

          & a {
            color: var(--blue2);

            &:hover {
              text-decoration: none;
              color: var(--blue5);

              &::after {
                margin-left: 0.5rem;
              }
            }

            &::after {
              font-family: var(--cme-group-icons);
              content: var(--icon-chevron-right);
              color: var(--blue5);
              display: inline-block;
              font-size: 0.8rem;
              margin-left: 0.1875rem;
            }
          }
        }

        & p {
          font-family: var(--averta);

          &.button-container {
            margin-bottom: 0;
            align-self: flex-end !important;
          }
        }

        & picture {
          height: auto !important;
        }

        & img {
          height: auto !important;
        }

        & ul {
          display: block;
          list-style-type: disc;
          margin-top: 0;
          padding: inherit;

          & li {
            box-shadow: none;
            background-color: transparent;
            font-family: var(--averta);
          }
        }
      }
    }

    &.padding-30 {
      & li {
        & .cards-card-body {
          padding: 1.875rem;
        }
      }
    }
  }
}
