.cards-wrapper {
  margin-top: 0 !important;

  & .cards.promo {
    & ul {
      display: block;
      justify-content: space-between;
  
      @media (width >= 993px) {
        display: flex;
      }
  
      & li {
        width: 100%;
        border: none;
  
        &.empty-card {
          background-color: transparent !important;
          margin: 0 !important;
        }
  
        & a {
          &:hover {
            text-decoration: none;
          }
  
          & .cards-card-body {
            padding: 1.875rem;
            margin: 0;
            position: relative;
    
            &::after{
              height: 3.75rem;
              width: 3.75rem;
              font-family: var(--cme-group-icons);
              content: var(--icon-arrow-right-thin);
              position: absolute;
              top: 0;
              right: 0;
              color: var(--blue4);
              font-size: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
    
            & h4 {
              font-size: 1.25rem;
              line-height: 2.1875rem;
              letter-spacing: 0.0125rem;
              font-weight: 600;
              font-family: var(--averta);
              margin: 0;
    
              & strong {
                font-weight: 600;
    
                & a {
                  color: var(--blue2);
                  display: block;
    
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
    
            & p {
              margin-bottom: 0;
    
              & a {
                color: var(--gray3);
                padding: 0;
                font-size: 0.875rem;
                line-height: 24px;
                text-transform: none;
                font-weight: 400;
                letter-spacing: normal;
    
                &:hover {
                  text-decoration: none;
                  background-position: unset;
                }
              }
            }
          }
        }
  
      }
    }
  
    &.blue3 {
      & li {
        background-color: var(--blue3);
  
        & .cards-card-body {
          padding: 1.25rem;
          
          & h4 {
            & a{
              color: var(--white);
            }
          }
  
          & p {
            & a {
              color: var(--white);
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
  
          &::after {
            color: var(--blue5);
            font-size: 1.125rem;
          }
        }
      }
    }
  } 
}
