.cards.blue-divider {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (width>= 769px) {
    flex-direction: row;
    gap: 1.875rem;
  }

  & > div {
    background-color: var(--blue2);
    padding: 1.25rem;

    @media (width>= 993px) {
      display: flex;
      padding: 1.875rem;
    }

    div {
      @media (width>= 993px) {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
      }

      &:first-of-type {
        color: var(--white);
        margin-bottom: 1.875rem;

        @media (width>= 993px) {
          align-items: flex-start;
          border-right: 0.0625rem solid var(--blue4);
          flex: 0 0 auto;
          margin-bottom: 0;
          padding-right: 1.875rem;
          width: calc(66.66666% - 1.875rem);
        }

        h3 {
          color: white;

          @media (width>= 993px) {
            text-align: left;
          }
        }
      }

      &:last-of-type {
        @media (width>= 993px) {
          padding-left: 1.875rem;
          width: calc(33.33333% - 1.875rem);
        }
      }

      p {
        margin: 0;
        width: 100%;

        &:last-of-type {
          & strong {
            margin: 0;
          }
        }

        & em {
          color: var(--white);
          font-size: 0.6875rem;
          font-style: normal;
          font-weight: 700;
          line-height: 0.875rem;
          letter-spacing: 0.0206rem;
          margin-bottom: 0.625rem;
          text-align: left;
          text-transform: uppercase;
        }

        & strong {
          color: var(--green);
          display: block;
          font-family: var(--roboto-mono);
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.625rem;
          margin-bottom: 0.9375rem;
          text-align: left;

          @media (width >= 481px) {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}
