.cards.related-courses .cards-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.cards.related-courses .cards-header h3 {
    margin: 0;
}

.cards.related-courses .cards-header a {
    color: #006eb6;
    font-weight: 600;
}

.cards.related-courses ul {
    grid-template-columns: repeat(3, 1fr);
}

.cards.related-courses .cards-card-body img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (width >= 992px) {
    .cards.related-courses .cards-card {
        min-height: 31.25rem !important;
    }

    .cards.related-courses .cards-card .cards-card-body {
        top: 300px;
    }

    .cards.related-courses .cards-card a:hover .cards-card-body {
      min-height: 31.625rem;
      top: 220px;
  }
}