.cards-wrapper .cards-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.625rem;

    @media (width >= 769px) {
        flex-direction: row;
    }

    & h3 {
        margin: 0;
    }

    & a {
        color: var(--blue4);
        font-weight: 600;
    }
}

.cards.related-courses {
    & ul {
        grid-template-columns: repeat(3, 1fr);

        & .cards-card {
            @media (width >= 993px) {
                min-height: 31.25rem !important;
            }

            & img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            & .cards-card-body {
                @media (width >= 993px) {
                    top: 18.75rem;
                }
            }

            & a:hover .cards-card-body {
                @media (width >= 993px) {
                    min-height: 31.625rem;
                    top: 13.75rem;
                }
            }
        }
    }    
}
