.cards.upcoming-events ul .glider-track {
    column-gap: 1.1875rem;
}

@media (width >= 993px) {
    .cards.upcoming-events ul .glider-track {
        column-gap: 1.5rem;
    }
}

.cards.upcoming-events ul .glider-track .glider-slide {
    box-shadow: 0 .0625rem .125rem 0 rgb(60 64 67 / 30%);
    height: 10rem;
}
