.product-tabs-nav {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.product-tabs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.product-tabs-item a {
  display: inline-block;
  padding: 1.0625rem 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.129em;
  color: #5a6874;
}

@media (width >= 769px) {
  .product-tabs-item a {
    font-size: 0.875rem;
    letter-spacing: 0.108em;
    line-height: 1rem;
    padding: 2rem 1.25rem;
  }
}

.product-tabs-item a.is-active {
  font-weight: 700;
  color: #112b4a;
  border-bottom: 0.1875rem solid #006eb6;
}

.product-tabs-item a:hover {
  color: #006eb6;
}


