.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  border: none;
  padding: 0;
}

.form form > .selection-wrapper + .selection-wrapper,
.form form fieldset .selection-wrapper + .selection-wrapper {
  margin-top: 0.25em;
}

.section:has(.form.feedback) {
  margin: 0;
}

.section:has(.form.feedback) h1,
.section:has(.form.feedback) h2,
.section:has(.form.feedback) h3,
.section:has(.form.feedback) h4,
.section:has(.form.feedback) h5,
.section:has(.form.feedback) h6 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: .09rem;
  color: var(--blue2);
}

@media (width >= 600px) {
  .form fieldset {
    grid-template-columns: repeat(2, auto);
    gap: 0.25em 24px;
  }

  .form form > .selection-wrapper + .selection-wrapper,
  .form form fieldset .field-wrapper + .field-wrapper,
  .form form fieldset .selection-wrapper + .selection-wrapper {
    margin-top: 0;
  }
}

@media (width >= 900px) {
  .form:not(.feedback) fieldset {
    grid-template-columns: repeat(3, auto);
  }
}

.form label,
.form fieldset > legend {
  margin-bottom: 0.25em;
  font-size: var(--body-font-size-s);
  font-weight: 700;
}

.form .selection-wrapper label {
  margin: 0;
  font-weight: normal;
}

.form input,
.form select,
.form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--dark-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  transition: border-color 0.2s;
}

.form textarea {
  resize: vertical;
}

.form input:hover,
.form select:hover,
.form textarea:hover {
  border: 0.0625rem solid var(--text-color);
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: 0.125rem solid var(--link-color);
  outline-offset: 0.125rem;
}

.form .selection-wrapper input {
  width: max-content;
}

@media (width >= 600px) {
  .form input,
  .form select,
  .form textarea {
    max-width: 50vw;
  }

  .form .button {
    max-width: max-content;
  }
}

@media (width >= 900px) {
  .form input,
  .form select,
  .form textarea {
    max-width: 33vw;
  }
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 1ch;
}

.form label[data-required]::after {
  content: '*';
  color: firebrick;
  margin-inline-start: 1ch;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 3.25rem;
  height: 1.75rem;
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 3.25rem;
  height: 1.75rem;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 1.75rem;
  background-color: var(--dark-color);
  transition: background-color 0.2s;
}

.form .toggle-wrapper .slider::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.125rem;
  left: 0.125rem;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: transform 0.2s;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 0.125rem solid var(--link-color);
  outline-offset: 0.125rem;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(1.5rem);
}

.form.feedback form {
  display: grid;
  grid-template-areas: 
    "message message message"
    "email email smileys"
    "submit submit submit"
    "recaptcha-disclaimer recaptcha-disclaimer recaptcha-disclaimer";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

/* Assign grid areas */
.form.feedback .text-area-wrapper {
  grid-area: message;
}

.form.feedback .email-wrapper {
  grid-area: email;
}

.form.feedback .fieldset-wrapper {
  margin-top: 0.6rem;
  grid-area: smileys;
}

.form.feedback .submit-wrapper {
  grid-area: submit;
}

.form.feedback label {
  color: var(--gray3);
  font-family: var(--heading-font-family);
  font-size: 0.6875rem;
  font-weight: 400;
  letter-spacing: 0.0938rem;
  line-height: 0.6875rem;
  text-transform: uppercase;
}

.form .field-wrapper button[type="submit"] {
  background-color: var(--blue4);
  color: var(--white);
  padding: .75rem 2.75rem;
  border: .125rem solid var(--blue4);
  font-size: .75rem;
  letter-spacing: .125em;
  line-height: .75rem;
  font-weight: 700;
}

.form.feedback textarea,
.form.feedback input {
  background-color: var(--gray6);
  color: var(--gray3);
  border-radius: 0;
  border: none;
}

.form.feedback input:hover,
.form.feedback textarea:hover {
  border: none;
}

.form.feedback input:focus,
.form.feedback textarea:focus {
  outline: 0.125rem solid var(--link-color);
}

.form.feedback fieldset[name="feedback"] {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border: none;
  padding: 0.2rem;
}

.form.feedback .feedback-smiley-wrapper fieldset {
  position: relative;
  gap: 0;
}

.form .feedback-smiley-wrapper label {
  background-color: var(--gray6);
  color: var(--gray3);
  cursor: pointer;
  line-height: normal;
  padding: 0.5em;
}

.form .feedback-smiley-wrapper label img {
  padding-top: 0.2rem;
  padding-inline: 0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  filter: var(--gray3-filter);
}

.form .feedback-smiley-wrapper input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.form .feedback-smiley-wrapper:hover label{
  background-color: var(--blue4);
}

.form .feedback-smiley-wrapper:hover label img {
  filter: var(--white-filter);
}

.form .feedback-smiley-wrapper input[type="radio"]:checked + label {
  background-color: var(--blue4);
}

.form .feedback-smiley-wrapper input[type="radio"]:checked + label img {
  filter: var(--white-filter);
}

.form.feedback .recaptcha-disclaimer {
  grid-area: recaptcha-disclaimer;
}

.form p.recaptcha-disclaimer {
  color: var(--gray4);
  font-size: 0.75rem;
  margin: 0;
  padding-top: 0.3125rem;
}

/* stylelint-disable no-descending-specificity */
.form p.recaptcha-disclaimer a {
  color: var(--blue4);
  text-decoration: none;
}

.form.contact-us a,
.form.contact-us a:any-link {
  color: var(--blue5);
  text-decoration: none;
}

.form.contact-us form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.form.contact-us .field-wrapper > * {
  max-width: 100%;
  font-size: .6875rem;
  letter-spacing: .0938rem;
  line-height: .6875rem;
  font-family: var(--heading-font-family);
  font-weight: 400;
  text-transform: uppercase;
}

.form.contact-us .field-wrapper:not(.checkbox-wrapper) > input,
.form.contact-us .field-wrapper > select,
.form.contact-us .field-wrapper > textarea {
  color: var(--white);
  background-color: var(--blue1);
  min-height: 3.375rem;
  margin-top: 0.5rem;
}

.form.contact-us .field-wrapper.checkbox-wrapper {
  align-items: start;
}

.form.contact-us .field-wrapper.checkbox-wrapper label {
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  text-transform: none;
}
/* stylelint-enable no-descending-specificity */

.form.contact-us .field-wrapper.submit-wrapper {
  grid-column: auto;
  width: 100%;
  justify-self: start;
}

@media (width > 768px) {
  .form.contact-us form {
    grid-template-columns: 1fr 1fr;
  }
  
  .form.contact-us .text-wrapper:has(input[name="Company_Name__c"]),
  .form.contact-us .text-area-wrapper,
  .form.contact-us .checkbox-wrapper {
    grid-column: 1 / -1;
  }

  .form.contact-us .field-wrapper.submit-wrapper {
    width: auto;
  }
}

