.brightcove-player {
  position: relative;
  display: block;
  max-width: 100%;

  &.video-hidden {
    & .brightcove-video,
    .vjs-playlist-player-container{
        display: none;
    }
  }
}


.brightcove-player video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.brightcove-player video.playlist-right-sidekick {
  min-height: 22.125rem;
}

.brightcove-video,
.vjs-playlist-player-container {
  position: relative;

    &.aspect-ratio43 {
        padding-top: 75%;
    }

    &.aspect-ratio169 {
        padding-top: 56.25%;
    }
}

.brightcove-video {
    margin-bottom: 1.875rem;
}

.video-js {
    display: inline-block;

    &.video-hidden {
        display: none;
    }
}

.vjs-playlist.video-hidden {
    display: none;
}

.vjs-playlist-player-container .vjs-playlist-sidebar-horizontal {
  position: absolute;
}

.video-js.vjs-playlist-enabled:not(.playlist-bottom) {
    position: relative;
}

.vjs-playlist.playlist-bottom.vjs-mouse.vjs-playlist-horizontal {
    width: 100%;
    float: none;
    position: relative;
}

.video-js.vjs-playlist-enabled, .vjs-playlist.vjs-mouse.vjs-playlist-horizontal{
    position: static;
}

.video-js.vjs-playlist-enabled.playlist-bottom {
    max-width: none;
    width: 100%;
    max-height: none;
}

.brightcove-img-placeholder {
    width: 100%;
    min-height: 22.125rem;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
