.hero.event {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0;
    position: initial;
    box-sizing: border-box;

    & .background-image {
        height: 6.25rem;

        @media (width >= 769px) {
            height: 11.5625rem;
        }

        @media (width >= 1201px) {
            height: 7.5rem;
        }

        & .shadow-wrapper {
            @media (width >= 1201px) {
                display: block;
            }
        
            & .content-area {
                @media (width >= 1201px) {
                    width: calc(70.5% - 24.625rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: var(--white);
                    height: 21rem;
                    margin-top: -20.9375rem;
                    display: block;
                    position: relative;
                }
            }

            & .shadow {
                @media (width >= 1201px) {
                    box-shadow: var(--gray8-shadow);
                    height: 4.0625rem;
                    width: calc(70.5% - 24.625rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }

            & .fade {
                @media (width >= 1201px) {
                    background: var(--fade-transparent-white);
                    height: 4.0625rem;
                    margin: -4.0625rem -.75rem 0;
                    width: calc(70.5% - 23.075rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    border-bottom: 10px solid white;
                }
            }
        }

        & p {
            text-align: center;
            margin: 0;
            position: absolute;
            z-index: -1;
            padding: 0;
            left: 0;
            width: 100%;

            & picture {
                height: 6.25rem;

                @media (width >= 769px) {
                    height: 11.5625rem;
                }

                @media (width >= 1201px) {
                    position: initial;
                    display: block;
                    height: 28.4375rem;
                }
            }
        }
    }

    & .default-content-wrapper {
        padding-inline: 1.5rem;
        width: calc(100% - 3rem);

        @media (width >= 481px) {
            padding-inline: 2rem;
            width: calc(100% - 4rem);
        }

        @media (width >= 769px) {
            padding-inline: 3.375rem;
            width: calc(100% - 6.75rem);
        }

        @media (width >= 993px) {
            padding-inline: 4.125rem;
            width: calc(100% - 8.25rem);

            & h1 {
                margin-bottom: 2.6875rem;
            }
        }

        @media (width >= 1201px) {
            width: calc(70.5% - 24.625rem);
            max-width: 45.0625rem;
            background-color: var(--white);
            padding: 0 6.8125rem;
        }

        & .top-info {
            padding-top: 2.4375rem;
            margin-bottom: 1.3125rem;
            color: var(--gray3);
            font-size: .875rem;
            line-height: 1.25rem;

            @media (width >= 993px) {
                margin-bottom: 1.8125rem;
            }

            @media (width >= 1201px) {
                padding-top: 3.6875rem;
            }

            & .event-label {
                flex: 0 0 auto;
                color: var(--blue4);
                letter-spacing: .0906rem;
                text-transform: uppercase;

                @media (width >= 769px) {
                    text-align: center;
                }
            }
        }

        & h1 {
            color: var(--title-color);
        }

        & .event-data {
            display: flex;
            flex-flow: column wrap;
            gap: 0.625rem;
            color: var(--gray3);
            font-family: var(--heading-font-family);
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.25rem;
            margin-bottom: 1.25rem;

            @media (width >= 769px) {
                margin-bottom: 1.875rem;
            }

            & .event-property-wrapper {
                color: var(--gray3);
                font-family: var(--averta);
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.5rem;

                & .event-property-value {
                    display: block;
                    font-weight: 400;

                    @media (width >= 993px) {
                        display: inline;
                    }
                }
            }
        }
    }
}
