.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.875rem 2.5rem;
  background: var(--white);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(60, 64, 67, .3);
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  max-width: 30.3125rem;

  & .login-header {
    font-size: 1.25rem;
    letter-spacing: .01em;
    line-height: 1.625rem;
    font-weight: 600;
    color: var(--blue2);
    padding-bottom: .625rem;
    margin-bottom: .625rem;
    border-bottom: 2px solid var(--blue4);

    & .icon {
      margin-right: 0.625rem;
    }
  }
  
  & .login-body {
    font-size: 0.98rem;
    color: var(--gray3);
    word-wrap: break-word;

    &:last-child {
      margin: 0;
    }
  }
}
  
