.event-calendar-container {
    position: relative;
    color: var(--white);
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    background: linear-gradient(0deg, var(--blue2) 0%, var(--blue1) 70%);
}

@media (width >=75rem) {
    .event-calendar-container {
        padding-bottom: 1.875rem;
    }
}

/* curtain */

.event-calendar-container .inputs-curtain.is-open {
    background-color: var(--black);
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    transition: visibility .2s linear, opacity .2s linear;
    width: 100%;
    z-index: 1031;
}

/* filter section container */

.event-calendar-container .filter-section-container .filters-block {
    display: flex;
    justify-content: center;
}

@media (width >=75rem) {
    .event-calendar-container .filter-section-container .filters-block {
        display: block;
    }
}

.event-calendar-container .filter-section-container .filters-block button.toggle-button {
    width: 100%;
}

@media (width >=75rem) {
    .event-calendar-container .filter-section-container .filters-block button.toggle-button {
        display: none;
    }
}

/* filters inputs mobile modal container */

.event-calendar-container .filters-inputs-container {
    display: none;
}

@media (width >=75rem) {
    .event-calendar-container .filters-inputs-container {
        display: block;
    }
}

.event-calendar-container .filters-inputs-container .filter-close {
    color: var(--white);
    height: 3.125rem;
    width: 3.125rem;
    padding: 0;
    border-width: 0 0 0 0.0625rem;
    border-radius: 0;
    vertical-align: top;
    background-color: transparent;
    line-height: 1.875rem;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: .8125rem;
    cursor: pointer;
}

@media (width >=75rem) {
    .event-calendar-container .filters-inputs-container .filter-close {
        display: none;
    }
}

.event-calendar-container .filters-inputs-container .filter-close::after {
    content: var(--icon-menu-close);
}

.event-calendar-container .filters-inputs-container .filter-close:hover {
    color: var(--gray3);
}

.event-calendar-container .filters-inputs-container .filter-close:focus {
    box-shadow: none;
}

.event-calendar-container .inputs-flex-container {
    display: contents;
}

@media (width >=75rem) {
    .event-calendar-container .inputs-flex-container {
        display: flex;
    }
}


.event-calendar-container .filters-inputs-container h3 {
    color: var(--white);
}

.event-calendar-container .filters-inputs-container input {
    background-color: #5a6874;
    border: 1px solid #5a6874;
    color: #fff;
    height: 2.25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1.25rem;
}

.event-calendar-container .filters-inputs-container .input-country,
.event-calendar-container .filters-inputs-container .input-impact {
    background-color: #5a6874;
    border: 1px solid #5a6874;
    color: #fff;
    height: 2.25rem;
    margin: 0 15px;
    width: 20%;
    padding-left: 0;
    padding-right: 0;
}


.event-calendar-container .filters-inputs-container input:active {
    border-color: #3cc8ff !important;
    outline: none;
}

.event-calendar-container .filters-inputs-container input:focus-visible {
    outline: none;
}

.event-calendar-container .filters-inputs-container .input-search-container {
    position: relative;
    display: flex;
}

.event-calendar-container .filters-inputs-container .input-search-container::after {
    font-family: var(--cme-group-icons);
    content: var(--icon-search);
    font-size: 1rem;
    right: 16px;
    top: 8px;
    width: auto;
    height: auto;
    position: absolute;
    color: var(--white);
}

.event-calendar-container .filters-inputs-container .input-search-container .clean-search-input {
    font-size: .5rem;
    right: 40px;
    top: 15px;
    width: auto;
    height: auto;
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    color: var(--white);
    padding: 0;
}

@media (width >=75rem) {

    .event-calendar-container .filters-inputs-container .input-search-container::after,
    .event-calendar-container .filters-inputs-container .input-search-container .clean-search-input {
        color: var(--blue5);
    }
}

.event-calendar-container .filters-inputs-container .input-search-container .clean-search-input::before {
    content: var(--icon-menu-close);
}

.event-calendar-container .filters-inputs-container .input-search-container input {
    width: 100%;
}

@media (width >=75rem) {
    .event-calendar-container .filters-inputs-container .input-search-container {
        width: 60%;
        margin-right: 15px;
    }
}

/**/
details.checkbox-dropdown {
    display: inline-flex;
    flex-direction: column;
    padding: 1px;
    justify-content: end;
    position: relative;
}


details.checkbox-dropdown summary {
    padding-left: .5rem;
    padding-right: .5rem;
}

details.checkbox-dropdown summary::marker {
    display: none;
    font-size: 0;
}

details.checkbox-dropdown  summary::-webkit-details-marker {
    display: none;
    font-size: 0;
}

details.checkbox-dropdown  summary::after {
    transition: transform 0.25s;
    position: absolute;
    right: 5px;
    top: 16px;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: "";
    display: inline-block;
}

details.checkbox-dropdown[open] {
    justify-content: normal;
    border: 1px solid var(--blue5) !important;
}

details.checkbox-dropdown[open] summary {
    margin-bottom: 2px;
    margin-top: 7px;
}

details.checkbox-dropdown[open] summary::after {
    top: 16px;
    ;
    transform: rotate(180deg);
}

.checkbox-dropdown form {
    background-color: #5a6874;
    color: #fff;
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
}

.checkbox-dropdown fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.checkbox-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.checkbox-dropdown ul li {
    font-family: Averta;
    font-size: .875rem;
    font-weight: 400;
    height: 2.25rem;
    line-height: 1.25rem;
    margin-bottom: 0;
}

.checkbox-dropdown ul li:hover {
    background: #354a66;
}

.checkbox-dropdown ul li label {
    display: inline-block;
    padding: .375rem .375rem .375rem .625rem;
    width: fill-available;
    width: -webkit-fill-available;
}

.checkbox-dropdown ul li label:hover {
    cursor: pointer;
}

.checkbox-dropdown ul li label .checkbox-wrapper {
    display: inline-block;
    margin-right: .375rem;
}

.checkbox-dropdown ul li label input[type=checkbox] {
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.checkbox-dropdown ul li label input[type=checkbox]~span {
    background-color: transparent;
    line-height: 1.375rem;
    vertical-align: text-bottom;
    background: transparent;
    border: .0625rem solid;
    display: inline-block;
    height: .875rem;
    position: relative;
    width: .875rem;
}

.checkbox-dropdown ul li label input[type=checkbox]:checked~span {
    background-color: #fff;
}

.checkbox-dropdown ul li label input[type=checkbox]:checked~span::after {
    border-bottom: .1875rem solid #006eb6;
    border-right: .1875rem solid #006eb6;
    height: .6875rem;
    left: .25rem;
    top: -.0625rem;
    transform: rotate(45deg);
    width: 3px;
    content: "";
    display: inline-block;
    position: absolute;
}

/**/

.event-calendar-container .filters-inputs-container.is-open {
    background-color: #081d37;
    border: 0;
    box-shadow: 0 .0625rem .125rem 0 rgba(60, 64, 67, .3), 0 .125rem .375rem .125rem rgba(60, 64, 67, .15);
    padding: 1.625rem 1.875rem;
    position: fixed;
    top: 0;
    width: 350px;
    z-index: 1032;
    display: flex;
    flex-direction: column;
}

.event-calendar-container .filters-inputs-container.is-open .btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media (width >=75rem) {
    .event-calendar-container .filters-inputs-container .btn-container {
        display: none;
    }
}

.event-calendar-container .filters-inputs-container.is-open .btn-container button {
    width: 45%;
}

.event-calendar-container .filters-inputs-container.is-open .btn-container button.secondary {
    color: var(--white);
}

/* release */

.event-calendar-container .event-calendar.release {
    padding: 1.25rem 0 2.5rem 0;
}

.event-calendar-container .event-calendar.release .result-list-section {
    padding: 0 1.0625rem;
    position: sticky;
    top: -1.25rem;
    z-index: 3;
    background-color: var(blue1);
}

/* results-container */

.event-calendar-container .event-calendar .results-container {
    padding-left: 0;
    padding-right: 0;
}

.event-calendar-container .event-calendar .result-list-table-section {
    margin: 0;
}

.event-calendar-container .event-calendar .result-list-table-section .result-list-section {
    padding: 0 1.125rem;
}

@media (width >=75rem) {
    .event-calendar-container .event-calendar .result-list-table-section .result-list-section {
        padding-right: 0;
    }
}

.event-calendar-container .event-calendar .result-list-table-section .result-table-section {
    padding: 0;
}

@media (width >=75rem) {
    .event-calendar-container .event-calendar .result-list-table-section .result-table-section {
        border: 0.0625rem solid var(--gray3);
        border-left: 0.3125rem solid var(--blue5);
        padding: 1.5625rem 1.875rem;
        background-color: var(--blue1);
    }
}