.event-calendar-container {
    position: relative;
    color: var(--white);
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    background: linear-gradient(0deg, var(--blue2) 0%, var(--blue1) 70%);
}

@media (width >= 62.0625rem) {
    .event-calendar-container {
        padding-bottom: 1.875rem;
    }
}

/* curtain */

.event-calendar-container .inputs-curtain.is-open {
    background-color: var(--black);
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    transition: visibility .2s linear, opacity .2s linear;
    width: 100%;
    z-index: 1031;
}

/* filters inputs mobile modal container */
.filters-inputs-container {
    display: none;
}

.filters-inputs-container.is-open {
    background-color: #081d37;
    border: 0;
    box-shadow: 0 .0625rem .125rem 0 rgba(60, 64, 67, .3), 0 .125rem .375rem .125rem rgba(60, 64, 67, .15);
    padding: 1.625rem 1.875rem;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1032;
}

/* release */

.event-calendar-container .event-calendar.release {
    padding: 1.25rem 0 2.5rem 0;
}

.event-calendar-container .event-calendar.release .result-list-section{
    padding: 0 1.0625rem;
    position: sticky;
    top: -1.25rem;
    z-index: 3;
    background-color: var(blue1);
}

/* results-container */

.event-calendar-container .event-calendar .results-container {
    padding-left: 0;
    padding-right: 0;
}

.event-calendar-container .event-calendar .result-list-table-section {
    margin: 0;
}

.event-calendar-container .event-calendar .result-list-table-section .result-list-section {
    padding: 0 1.125rem;
}

@media (width >= 62.0625rem) {
    .event-calendar-container .event-calendar .result-list-table-section .result-list-section {
        padding-right: 0;
    }
}

.event-calendar-container .event-calendar .result-list-table-section .result-table-section {
    padding: 0;
}

@media (width >= 62.0625rem) {
    .event-calendar-container .event-calendar .result-list-table-section .result-table-section {
        border: 0.0625rem solid var(--gray3);
        border-left: 0.3125rem solid var(--blue5);
        padding: 1.5625rem 1.875rem;
        background-color: var(--blue1);
    }
}
