.popular-searches {
  padding-top: rem(43px);

  .title {
    color: $citron;
    font-size: rem(10px);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: rem(1px);
  }

  .searches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: rem(6px);

    .search-box {
      display: flex;
      justify-content: space-between;
      width: 49%;
      background: $gray3;
      color: $white;
      margin: rem(5px 0);
      border-radius: rem(3px);
      height: rem(60px);
      align-items: center;
      padding: rem(0 20px);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $blue5;
      }

      &:active {
        background: $gray1;
        color: $white;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .box-title {
        padding-right: rem(5px);
        height: rem(48px);
        align-items: center;
        display: flex;

        .LinesEllipsis {
          display: block;
        }
      }
    }
  }
}
