.calendar-table-wrapper {
  & .calendar-table {
    margin: 2rem 0;
  
    /* Loading state */
    & .loading {
      text-align: center;
      padding: 2rem;
      color: var(--gray3);
      font-size: 1.125rem;
    }
  
    /* Error/no results state */
    & .no-results {
      background-color: var(--pink);
      padding: .3125rem .625rem;

      @media (width >= 993px) {
        padding: .875rem 1.875rem;
      }

      & p {
        font-size: .875rem;
        line-height: 1.25rem;
        color: var(--gray3);
        font-family: var(--averta);
        font-weight: 400;
        margin-bottom: 0;

        @media (width >= 993px) {
          font-size: 1.25rem;
          line-height: 1.75rem;
        }

        & .icon-attention-triangle {
          &::before {
            content: var(--icon-attention-triangle);
            color: var(--active-red);
            font-family: var(--cme-group-icons);
            font-style: normal;
            margin-right: .625rem;
          }
        }

        & .primary {
          color: var(--blue2);
          font-family: var(--averta);
          font-weight: 700;
        }

        & .contact-link {
          color: var(--blue4);

          &:hover {
            text-decoration: none;
            background-position: 0;
          }
        }
      }
    }
  
    /* Table styling */
    & table {
      & thead {
        & tr {
          & th {
            background-color: var(--blue2);
            border: .0625rem solid var(--gray4);
            color: var(--gray4);
            font-family: var(--averta);
            font-size: .6875rem;
            font-weight: 400;
            letter-spacing: .0688rem;
            line-height: .9375rem;
            padding: 1.25rem .3125rem;
            text-align: center;
            text-transform: uppercase;
            width: 11.8125rem;
  
            @media (width >= 1200px) {
              padding: 1.25rem;
            }
  
            & span {
              display: block;
            }
          }
        }
      }
  
      & tbody {
        & tr {
          &:nth-child(odd) {
            background-color: var(--white);
  
            &:hover {
              background-color: var(--white) !important;
            }
          }
  
          &:nth-child(even) {
            background-color: var(--gray6);
  
            &:hover {
              background-color: var(--gray6) !important;
            }
          }
  
          &.hidden-row {
            display: none;
          }
  
          & td {
            border: .0625rem solid var(--gray4);
            color: var(--gray2);
            font-family: var(--roboto-mono-font-family);
            font-size: .875rem;
            font-weight: 400;
            line-height: .875rem;
            padding: .625rem .3125rem;;
            text-align: center;
            text-transform: uppercase;
  
            @media (width >= 1200px) {
              padding: .625rem 1.25rem;
            }
  
            & span {
              display: block;
            }
          }
        }
      }
  
      &.table-fade {
        position: relative;
  
        &::after {
          background: linear-gradient(180deg, hsl(0deg 0% 100% / 0%), #fff);
          bottom: 0;
          content: "";
          height: 3.5rem;
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  
    & .table-calendar {
      display: none;
  
      @media (width >= 993px) {
        display: inline-table;
      }
    }
  
    /* Collapsible styling */
    & .collapsible-calendar {
      & .collapsible-item {  
        & .collapse {
          & .collapse-body {
            & .row-data {
              color: var(--gray2);
              font-size: .75rem;
              letter-spacing: normal;
              line-height: 1rem;
              margin-top: 1.25rem;
              text-align: left;
              text-transform: uppercase;
              display: flex;
              justify-content: space-between;
  
              &:first-child {
                margin-top: 0;
              }
  
              & span {
                &:first-child {
                  color: var(--blue2);
                  font-family: var(--averta);
                  font-weight: 700;
                  letter-spacing: .0706rem;
                }
    
                &:last-child {
                  color: var(--gray2);
                  font-family: var(--roboto-mono-font-family);
                  font-weight: 400;
                  letter-spacing: normal;
                  width: 5rem;
                }
              }
  
              & div {
                display: grid;
  
                &:first-child {
                  & span {
                    color: var(--blue2);
                    font-family: var(--averta);
                    font-weight: 700;
                    letter-spacing: 0.0706rem;
                    width: auto;
                  }
                }
  
                &:last-child {
                  & span {
                    color: var(--gray2);
                    font-family: var(--roboto-mono-font-family);
                    font-weight: 400;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    /* Load All Wrapper styling */
    & .load-all-wrapper {
      display: flex;
      flex-wrap: wrap;
  
      & .about-report-wrapper {
        display: inline-block;
        width: 100%;
        margin-top: .625rem;
    
        @media (width >= 993px) {
          width: 16.6667%;
          order: -1 !important;
          margin-top: 0;
        }
    
        & .about-report-link {
          color: var(--blue4);
          text-decoration: none;
          font-size: 0.875rem;
          font-weight: 500;
    
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      & .load-all-button-wrapper {
          width: 100%;
          display: inline-block;
          text-align: center;
    
          @media (width >= 993px) {
            width: 66.6667%;
            order: 6 !important;
          }
    
          & .load-all-button {
            width: 100%;
            display: inline-block;
            cursor: pointer;
    
            @media (width >= 993px) {
              width: 20rem;
            }
          }
        }
    }
  }

  & .spinner-calendar {
      width: 3rem;
      height: 3rem;
      margin: 0 auto;

      & div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        margin: 0.375rem;
        border: 0.25rem solid var(--blue2);
        border-radius: 50%;
        animation: spinner-in-calendar 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--blue2) transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
  }
}

.product-tab-title {
  /* auth tooltip styling */
  & .auth-tooltip-container {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;

    @media (width >= 993px) {
      display: inline-block;
      width: auto;
    }

    & a {
      &:hover {
        & .icon-lock {
          filter: var(--white-filter);
        }
      }
    }
  }
}

@keyframes spinner-in-calendar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
