html {
    scroll-behavior: smooth;
}
  
main > .section {
    &.full-width.hero-container {
        margin-bottom: 0;

        & + div {
            margin-top: 0;
        }
    }

    &:not(.full-width) > div {
        @media (width >= 481px) {
            padding-inline: 2rem;
        }

        @media (width >= 769px) {
            padding-inline: 3.375rem;
        }

        @media (width >= 993px) {
            padding-inline: 4.125rem;
        }

        @media (width >= 1201px) {
            width: calc(70.5% - 24.625rem);
            padding-inline: 0;
        }

        @media (width >= 1401px) {
            max-width: 45.0625rem;
            padding-inline: 0;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0;
    position: initial;
    box-sizing: border-box;
    margin-bottom: 0 !important;

    &.standard .background-image {
        height: 6.25rem;

        @media (width >= 769px) {
            height: 11.5625rem;
        }

        @media (width >= 1201px) {
            height: 7.5rem;
        }

        & img {
            object-fit: cover;
            width: 100%;
            height: 100% !important;
            object-position: 0 0;
        }

        & .shadow-wrapper {
            @media (width >= 1201px) {
                display: block;
            }
        
            & .content-area {
                @media (width >= 1201px) {
                    width: calc(70.5% - 24.625rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: var(--white);
                    height: 21rem;
                    margin-top: -20.9375rem;
                    display: block;
                    position: relative;
                }
            }

            & .shadow {
                @media (width >= 1201px) {
                    box-shadow: var(--gray8-shadow);
                    height: 4.0625rem;
                    width: calc(70.5% - 24.625rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }

            & .fade {
                @media (width >= 1201px) {
                    background: var(--fade-transparent-white);
                    height: 4.0625rem;
                    margin: -4.0625rem -.75rem 0;
                    width: calc(70.5% - 23.075rem);
                    max-width: 45.0625rem;
                    padding: 0 6.8125rem;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    border-bottom: 10px solid white;
                }
            }
        }

        & p {
            text-align: center;
            margin: 0;
            position: absolute;
            z-index: -1;
            padding: 0;
            left: 0;
            width: 100%;

            & picture {
                height: 6.25rem;

                @media (width >= 769px) {
                    height: 11.5625rem;
                }

                @media (width >= 1201px) {
                    position: initial;
                    display: block;
                    height: 28.4375rem;
                }
            }
        }
    }

    &.showcase {
        position: relative;
        overflow: hidden;
        
        & .background-image {
            & img {
                object-fit: cover;
                width: 100%;
                height: 100% !important;
                object-position: 0 0;
            }

            & p {
                text-align: center;
                margin: 0;
                position: absolute;
                z-index: -1;
                padding: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    & .default-content-wrapper {
        padding-inline: 1.5rem;
        width: calc(100% - 3rem);

        @media (width >= 481px) {
            padding-inline: 2rem;
            width: calc(100% - 4rem);
        }

        @media (width >= 769px) {
            padding-inline: 3.375rem;
            width: calc(100% - 6.75rem);
        }

        @media (width >= 993px) {
            padding-inline: 4.125rem;
            width: calc(100% - 8.25rem);

            & h1 {
                margin-bottom: 2.6875rem;
            }
        }

        @media (width >= 1201px) {
            width: calc(70.5% - 24.625rem);
            max-width: 45.0625rem;
            padding: 0 6.8125rem;
        }

        & .top-info {
            padding-top: 2.4375rem;
            margin-bottom: 1.3125rem;
            color: var(--gray3);
            font-size: .875rem;
            line-height: 1.25rem;
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            @media (width >= 993px) {
                margin-bottom: 1.8125rem;
            }

            @media (width >= 1201px) {
                padding-top: 3.6875rem;
            }

            & > * {
                flex: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                order: 0;
                color: inherit;

                &:last-child {
                    justify-content: flex-end;
                    order: 3;
                }

                &:nth-child(2) {
                    order: 4;

                    @media (width >= 769px) {
                        order: 2;
                    }
                }

                &:first-child {
                    justify-content: flex-start;
                    order: 1;
                }
            }
              
            & .icon {
                width: 0.9375rem;
                height: 0.9375rem;
                color: var(--blue5);
                margin-bottom: 0.1rem;

                & img {
                    filter: var(--blue5-filter);
                }
            }
            
            & .article-time {
                text-transform: uppercase;
                text-align: left;
            }

            & .featured-tag {
                flex: 0 0 100%;
                color: var(--blue4);
                letter-spacing: .0906rem;
                text-transform: uppercase;
                justify-content: flex-start;
                padding-top: 1.25rem;

                @media (width >= 769px) {
                    text-align: center;
                    flex: 0 0 auto;
                    padding-top: 0;
                }
            }

            & .bookmark {
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    & .save-text {
                        color: var(--blue5);
                    }
                }

                & .icon {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
                }
                
                & .save-text {
                    letter-spacing: normal;
                    display: none;
                    color: var(--blue4);

                    @media (width >= 481px) {
                        display: inline-block;
                    }
                }
            }
        }

        & h1 {
            color: var(--title-color);
        }

        & .article-data {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: var(--gray3);
            font-family: var(--heading-font-family);
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.25rem;
            margin-bottom: 3.25rem;

            @media (width >= 481px) {
                margin-bottom: 3.875rem;
            }

            & .authors {
                min-width: fit-content;
                letter-spacing: normal;
            }

            & .article-date {
                letter-spacing: .0625rem;
                text-transform: uppercase;
            }
        }
    }
}
