html {
  scroll-behavior: smooth;
}

.article {
  --standard-article-info-margin-top: -21.1875rem;
}

.article.standard h5 {
  color: var(--gray3);
}

.article.standard .section:has(.hero-background) {
  margin-bottom: 0;
}

.article:not(.showcase) > .section:first-of-type picture,
.article:not(.showcase) > .section:first-of-type picture img {
  height: 6.25rem;
  object-position: center;
  object-fit: cover;
}

.article.showcase > .section:first-of-type {
  height: auto;
  position: relative;
}

.article.showcase .section.full-width {
  padding-inline: 0.5625rem;
}

.article.showcase .hero-background {
  position: absolute;
  top: 0;
  left: 0.5625rem;
  right: 0.5625rem;
  width: calc(100% - 1.125rem);
  height: 100%;
  z-index: -1;
}

.article.showcase .hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.article .article-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3.875rem;
  padding-top: 2.4375rem;
}

.article .row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  align-items: center;
  font-size: var(--body-font-size-s);
  line-height: 1.25rem;
  letter-spacing: .0906rem;
}

.article .row:first-of-type {
  margin-bottom: 1.8125rem;
}

.article .row > * {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  order: 0;
  color: inherit;
}

.article.showcase .row > * {
  color: var(--white);
}

.article .row > .article-featured-tag {
  text-transform: uppercase;
  flex-basis: auto;
  justify-content: center;
  order: 0;
  padding-top: 0;
}

.article .row > .bookmark {
  order: 0;
}

.article.standard .row > .article-featured-tag {
  flex-basis: 100%;
  justify-content: flex-start;
  order: 2;
  padding-top: 1.25rem;
}

.article.standard .row > .bookmark {
  order: 1;
}

.article.showcase .row > .article-featured-tag {
  flex-basis: 100%;
  justify-content: center;
  order: 2;
  padding-top: 1.25rem;
}

.article .row > *:last-child {
  justify-content: flex-end;
}

.article .row > *:first-child {
  justify-content: flex-start;
}

.article .row h1 {
  text-align: left;
  margin-bottom: 2.875rem;
  color: var(--blue2);
  flex-basis: 100%;
  width: 100%;
  order: -1;
  flex-shrink: 0;
  min-width: 0;
  overflow-wrap: break-word;
}

.article .row .article-time {
  text-transform: uppercase;
  text-align: left;
  align-items: flex-start;
}

.article.standard .row .article-time {
  color: var(--gray3);
}

.article .row .icon {
  width: 0.9375rem;
  height: 0.9375rem;
  color: var(--blue5);
  margin-bottom: 0.1rem;
}

.article .row .bookmark {
  text-decoration: none;
}

.article .bookmark .icon {
  display: none;
}

.article .bookmark .icon.show {
  display: inline-block;
}

.article .row .icon img {
  filter: var(--blue5-filter);
}

.article .row:first-of-type {
  color: var(--blue4);
}

.article .row:last-of-type {
  color: var(--gray3);
}

.article .row .authors {
  min-width: fit-content;
  letter-spacing: normal;
}

.article.showcase .article-info {
  text-align: center;
  z-index: 1;
  position: relative;
  padding: 4rem 0;
  width: 100%;
}

.article.showcase .article-info .row {
  margin-inline: 0.9375rem;
  padding-inline: 24px;
}

.article.showcase .article-info .row:first-of-type {
  align-items: flex-start;
}

.article.showcase .article-info .row > *:first-child {
  justify-content: flex-start;
}

.article.showcase .article-info .row > *:last-child {
  justify-content: flex-end;
}

.article .article-info .row .article-date {
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

.article .article-info .row .icon-bookmark-outlined {
  width: 1.5rem;
  height: 1.5rem;
}

.article .article-info .row .bookmark .save-text {
  color: var(--blue5);
  letter-spacing: normal;
  display: none;
}

.article.showcase .article-info .row h1 {
  text-align: center;
}

.article.showcase .article-info h1 {
  color: var(--white);
}

main.article.showcase > .section:first-of-type {
  height: fit-content;
}

@media (width > 480px) {
  main > .section:not(.full-width) > div {
    padding-inline: 2rem;
  }

  .article h1 {
    font-size: 2.625rem;
  }

  .article.showcase .section.full-width {
    padding-inline: 1.0625rem;
  }

  .article.showcase .hero-background {
    left: 1.0625rem;
    right: 1.0625rem;
    width: calc(100% - 2.125rem);
  }

  .article.showcase .article-info {
    margin-left: 8.33%;
    width: 83.33%;
  }

  .article.showcase .article-info .row h1 {
    line-height: 3.375rem;
    margin-top: 1.25rem;
  }

  .article .article-info .row .icon-bookmark-outlined {
    width: 0.9375rem;
    height: 0.9375rem;
  }

  .article .article-info .row .bookmark .save-text {
    display: inline-block;
  }
}

@media (width > 768px) {
  main > .section:not(.full-width) > div {
    padding-inline: 3.375rem;
  }

  .article.showcase .section.full-width {
    padding-inline: 2.4375rem;
  }

  .article.showcase .hero-background {
    left: 2.4375rem;
    right: 2.4375rem;
    width: calc(100% - 4.875rem);
  }

  .article:not(.showcase) .row > .article-featured-tag {
    flex-basis: auto;
    justify-content: center;
    order: 0;
    padding-top: 0;
  }

  .article:not(.showcase) .row > .bookmark {
    order: 0;
  }

  .article.showcase .article-info {
    margin-left: 16.67%;
    width: 66.67%;
  }

  .article.showcase .article-info .row {
    padding-inline: 3.375rem;
  }

  .article.showcase .row > .article-featured-tag {
    flex-basis: auto;
    justify-content: center;
    order: 0;
    padding-top: 0;
  }

  .article:not(.showcase) > .section:first-of-type picture,
  .article:not(.showcase) > .section:first-of-type picture img {
    height: 11.5625rem;
    object-position: center;
    object-fit: cover;
  }
}

@media (width > 992px) {
  main > .section:not(.full-width) > div {
    padding-inline: 4.125rem;
  }

  .article.showcase .section.full-width {
    padding-inline: 3.1875rem;
  }

  .article.showcase .article-info .row {
    padding-inline: 4.125rem;
  }
}

@media (width > 1200px) {
  main.article.standard > .section:not(.full-width) {
    margin-top: var(--standard-article-info-margin-top);
  }

  main.article > .section:not(.full-width) {
    padding-inline: 5.5rem;
    margin-inline: 0.5rem;
  }

  main > .section:not(.full-width) > div {
    width: 66.67%;
    max-width: 58.7rem;
    padding-inline: calc(6.8125rem);
    position: relative;
    background-color: var(--white);
  }

  .article.showcase .section.full-width {
    padding-inline: 4.5625rem;
  }

  .article.showcase > .section:has(.columns) {
    padding-inline: 88px;
  }

  main.article:not(.showcase) > .section:first-of-type picture,
  main.article:not(.showcase) > .section:first-of-type picture img {
    height: 28.125rem;
    object-position: center;
    object-fit: cover;
  }

  main.article.showcase > .section:first-of-type {
    min-height: 24.5625rem;
  }

  main.article > .section:first-of-type {
    position: relative;
  }

  .article .row h1 {
    width: 90%;
  }

  main.article.showcase .hero-background {
    left: 4.5625rem;
    right: 4.5625rem;
    width: calc(100% - 9.125rem);
  }

  .article .article-info {
    padding-top: 3.6875rem;
  }

  .article.showcase .article-info {
    margin-left: 16.67%;
    width: 66.67%;
  }

  .article.showcase .article-info .row {
    padding-inline: 5.5rem;
  }

  main.article.standard > .section:nth-of-type(2) > div::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--standard-article-info-margin-top));
    left: 0;
    width: 100%;
    height: 3.75rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: -1;
    pointer-events: none;
  }
}

@media (width > 1600px) {
  .article.showcase > .section:has(.columns) {
    margin-inline: auto;
    max-width: 1424px;
  }
}