.sidebar {
  background-color: var(--white);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.sidebar-wrapper:has(.sidebar.empty) {
  height: 0;
}

.sidebar .sidebar-header {
  margin-bottom: 0;
}

.sidebar .sidebar-description {
  margin: 0;
}

.sidebar .sidebar-description p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0;
}

.sidebar.description-bold .sidebar-description p {
  font-weight: 600;
}

.sidebar .sidebar-footer {
  margin: 0;
}

.sidebar .sidebar-footer p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray3);
  margin: 0;
}

.sidebar.footer-bold .sidebar-footer p {
  font-weight: 600;
  color: var(--text-color);
}

.sidebar .sidebar-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  min-width: fit-content;
  white-space: nowrap;
  margin: 0;
  margin-top: 0.5rem;
}

.sidebar .sidebar-cta p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0;
  text-align: center;
}

.sidebar .sidebar-cta .button-container {
  margin: 0;
}

.sidebar .sidebar-cta .icon {
  margin-bottom: 0.25rem;
  flex-shrink: 0;
}

.sidebar .sidebar-cta .icon img {
  width: 1rem;
  height: 1rem;
  filter: var(--white-filter);
  flex-shrink: 0;
}

.sidebar .sidebar-cta a {
  flex-shrink: 0;
}

.sidebar .sidebar-cta:hover .icon img {
  filter: var(--black-filter);
}

@media (width > 1200px) {
  .sidebar {
    padding: 2rem;
    width: 60%;
  }

  .sidebar.left {
    padding-left: 6rem;
    padding-right: 2.8125rem;
  }

  .sidebar .sidebar-description p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .sidebar .sidebar-footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .sidebar .sidebar-cta {
    width: 65%;
  }
}

.sidebar.quote .sidebar-description p {
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1.5rem;
}

.sidebar.quote .sidebar-footer {
  margin-top: 1rem;
}
