/* Contact form specific styles */
.form.contact-us {
  & a:any-link {
    color: var(--blue5);
    text-decoration: none;
  }

  & form {
    gap: 1rem;

    @media (width >= 768px) {
      gap: 1.5rem;
    }

    &.collapsed-user-info {
      display: grid;
      gap: 0;

      & p {
        font-size: 0.875rem;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.25rem;
      }

      & .field-wrapper.custom-align-right {
        justify-self: unset;

        @media (width >= 769px) {
          justify-self: right;
        }
      }

      & .field-wrapper:not(.logged-in) {
        display: none;
      }

      & .field-wrapper.submit-wrapper {
        display: unset;
      }
    }

    &.user-info {
      & .field-wrapper.logged-in {
        display: none;
      }
    }
  }

  & .field-wrapper {
    position: relative;
    margin-bottom: 1rem;

    > * {
      max-width: 100%;
      line-height: .6875rem;
      font-family: var(--heading-font-family);
      font-weight: 400;
    }

    &:not(.checkbox-wrapper) > input,
    > select,
    > textarea {
      color: var(--white);
      background-color: var(--blue1);
      min-height: 3.375rem;
      padding: 0.75rem 1.25rem;
      border-radius: 0;
      border: 0.125rem solid transparent;
      font-size: 0.875rem;
    }

    &:not(.checkbox-wrapper) > label {
      text-transform: uppercase;
      font-size: .6875rem;
      letter-spacing: .0938rem;
      margin-bottom: 0.5rem;
    }

    &.checkbox-wrapper {
      align-items: start;
      margin-top: -1rem;
      display: inline-block;

      & label {
        font-size: .875rem;
        letter-spacing: 0;
        line-height: 1.25rem;
        text-transform: none;
      }

      & input {
        display: inline-block;
        margin-right: .675rem;
        width: unset;
        appearance: none;
        background-color: transparent;
        font-size: .75rem;
        cursor: pointer;
        border-radius: 0;
        border: 0.063rem solid var(--white);
        outline: none;

        &:checked {
          background-color: var(--white);
        }

        &:checked::after {
          border-bottom: .1875rem solid var(--blue4);
          border-right: .1875rem solid var(--blue4);
          height: .6275rem;
          left: .25rem;
          top: -.0625rem;
          transform: rotate(45deg);
          width: .275rem;
          content: "";
          position: absolute;
        }
      }

      &:has(.error-message) > input {
        border: 0.063rem solid var(--red2) !important;
      }
    }

    &.submit-wrapper {
      display: grid;
      grid-column: auto;
      width: 100%;
      justify-self: start;

      @media (width > 768px) {
        width: auto;
      }
    }

    &:has([name="question_comment"]) {
      display: grid;
    }
   
    > textarea[name="question_comment"] {
      text-transform: none;
    }

    > select:focus,
    > textarea:focus,
    &:not(.checkbox-wrapper) > input:focus {
      background-color: var(--blue1);
      color: var(--white);
      outline: none;
      border: 0.125rem solid var(--blue5);
    }

    > input:-webkit-autofill,
    > input:-webkit-autofill:hover,
    > input:-webkit-autofill:focus,
    > select:-webkit-autofill,
    > select:-webkit-autofill:hover,
    > select:-webkit-autofill:focus,
    > textarea:-webkit-autofill,
    > textarea:-webkit-autofill:hover,
    > textarea:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--white);
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-box-shadow: 0 0 0 1000px var(--blue1) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  @media (width >= 768px) {
    .text-wrapper:has(input[name="Company_Name__c"]),
    .text-area-wrapper,
    .checkbox-wrapper {
      grid-column: 1 / -1;
    }
  }

  & .choices {
    font-family: inherit;
    text-transform: none;
    cursor: pointer;
    margin-bottom: 0;
  }

  & .post-submit {
    & .section {
      margin: 0;

      & p {
        margin: 0;
      }
    }
  }

  & form[data-submitting="true"] {
    display: none;

    ~ .recaptcha-disclaimer {
      display: none;
    }
  }
}
