  html {
    scroll-behavior: smooth;
  }
  
  main > .section.full-width.hero-container {
    margin-bottom: 0;
  }

  main > .section.full-width.hero-container + div {
    margin-top: 0;
  }

  @media (width > 480px) {
    main > .section:not(.full-width) > div {
      padding-inline: 2rem;
    }
  }
  
  @media (width > 768px) {
    main > .section:not(.full-width) > div {
      padding-inline: 3.375rem;
    }
  }
  
  @media (width > 992px) {
    main > .section:not(.full-width) > div {
      padding-inline: 4.125rem;
    }
  }
  
  @media (width > 1200px) {
    main > .section:not(.full-width) > div {
      width: calc(70.5% - 24.625rem);
      padding-inline: 0;
    }
  }

  @media (width > 1400px) {
    main > .section:not(.full-width) > div {
      max-width: 45.0625rem;
      padding-inline: 0;
    }
  }