.table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);
  }
  
  @media (width >= 600px) {
    .table table {
      font-size: var(--body-font-size-s);
    }
  }
  
  @media (width >= 900px) {
    .table table {
      font-size: var(--body-font-size-m);
    }
  }
  
  .table table thead tr {
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
  }
  
  .table table tbody tr {
    border-bottom: 1px solid #dadada;
    color: #5a6874;
  }

  .table table tbody tr:hover {
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.075);
  }

  .table table th {
    font-weight: 700;
    background-color: #112b4a;
    color: #c2cace;
  }
  
  .header-style {
    background-color: #112b4a;
    color: #c2cace;
  }
  
  .table table th,
  .table table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #dadada;
  }
  
  .table table th p,
  .table table td p {
    margin: 0;
  }
  
  .table table td p + p {
    margin-top: 0.25em;
  }
  
  /* no header variant */
  .table.no-header table tbody tr {
    border-top: 1px solid #dadada;
  }
  
  /* striped variant */
  .table.striped tbody tr:nth-child(2n) {
    background-color: var(--gray6);
  }