body {
  &.scrolling-down {
    & .header {
      top: -9.375rem;
      transition: top 0.7s ease 0.5s;
    }
  }

  & .header {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0 0 0 / 20%);
    top: 0;
    padding: 0;
    transition: all 0.3s ease;

    &.hidden {
      transition-delay: 0.5s;
    }

    & .site-header-mobile-bar {
      align-items: center;
      background-color: var(--white);
      display: flex;
      flex-wrap: wrap;
      height: var(--nav-faux-height);
      justify-content: space-between;
      position: relative;
      width: 100%;

      & .site-header-right {
        & button {
          justify-content: center;
        }
      }

      & .site-header-logo {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        line-height: 1.125rem;
        font-weight: 700;
        margin-left: 0.375rem;

        &.hidden {
          display: none;
        }

        &.logo-white {
          & svg {
            & > path {
              fill: var(--white);
            }
          }
        }
      }

      @media (width >= 993px) {
        display: none;
      }
    }

    & .nav-wrapper {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 6.25rem;
      justify-content: space-between;
      max-width: 25rem;
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      transition: transform 0.5s ease-out;
      width: 100%;
      z-index: 4;

      @media (width >= 993px) {
        display: flex;
        margin: 0 auto;
        max-width: 100rem;
        position: relative;
        transform: none;
        width: 100%;
      }

      &.is-open {
        transform: translateX(0);
      }

      & .nav {
        visibility: unset;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (width >= 993px) {
          padding: 0 0 0 4.125rem;
        }

        @media (width >= 1201px) {
          padding: 0 0 0 5.5rem;
        }

        &.is-open {
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          max-height: 100%;
          max-width: 25rem;
          background-color: var(--white);
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          & .btn-menu-close {
            background-color: var(--blue1);
            color: var(--white);

            &:hover {
              color: var(--gray3);
              cursor: pointer;
            }

            &::after {
              content: var(--icon-menu-close);
            }
          }

          & .navigation {
            display: block;
            align-items: center;
            flex-basis: 100%;
            flex-grow: 1;
            width: 25rem;
            max-height: calc(100vh - 3.125rem);
            overflow: auto;
            background-color: var(--blue2);
          }
        }

        & .navigation {
          grid-area: navlist;
          display: none;
          margin: 0;
          padding: 0;
          list-style: none;
          background: var(--white);

          @media (width >= 993px) {
            display: flex;
            background: unset;
          }

          & .navigation-item {
            font-size: 1rem;
            text-transform: uppercase;
            font-family: var(--averta);
            margin-right: 0;
            margin-bottom: 0;

            @media (width >= 993px) {
              display: flex;
              align-items: stretch;
              position: relative;
              margin-right: 0.875rem;
              background-color: transparent;
            }

            @media (width >= 1201px) {
              margin-right: 1.875rem;
            }

            & .submenu {
              background-color: var(--blue2);
              display: none;
              @media (width >= 993px) {
                position: absolute;
                opacity: 0;
                display: flex;
                margin-top: -1.5rem;
                visibility: hidden;
                top: -312.5rem;
                transition: visibility 0.5s linear, margin-top 0.5s linear,
                  opacity 0.5s linear;
              }

              & ul {
                list-style: none;
                margin: 0;
                padding-left: 0;
              }
            }

            &.login-nav {
              @media (width >= 993px) {
                display: none;
              }

              & a::after {
                content: var(--icon-arrow-right);
              }

              &.is-logged {
                & a {
                  color: var(--citron);
                  font-family: var(--averta);
                  font-size: 0.6875rem;
                  font-weight: 400;
                  line-height: 1.5rem;
                  text-transform: uppercase;

                  &::after {
                    content: var(--icon-plus);
                    font-size: 0.9375rem;
                  }
                }

                &.is-open .navigation-link::after {
                  color: var(--white);
                  content: var(--icon-minus);
                }
              }

              & .submenu {
                padding-left: 0;
                padding-right: 0;

                & .login {
                  & .login-container {
                    padding: 1.5625rem 0;
                    & div {
                      border-bottom: 0.0625rem solid rgba(255 255 255 / 30%);
                      & li {
                        margin: 0;
                        & a {
                          background: none;
                          color: var(--white);
                          font-size: 0.8125rem;
                          font-weight: 600;
                          letter-spacing: normal;
                          line-height: normal;
                          padding: 0 0 1rem 1.5625rem;
                          text-transform: capitalize;
                          justify-content: left;
                          display: flex;
                          align-items: center;

                          &::after {
                            content: none;
                          }
                        }

                        &:last-child a {
                          padding-bottom: 0;
                        }
                      }

                      &.links-container {
                        border-bottom: 0.0625rem solid rgba(255 255 255 / 30%);
                        padding: 1.5625rem 0;
                        margin-bottom: 1.25rem;
                      }

                      &.user-container {
                        border-bottom: 0.0625rem solid rgba(255 255 255 / 30%);
                        padding: 1.25rem 0;

                        &:first-of-type {
                          padding-top: 0;
                        }

                        &:last-of-type {
                          border: none;
                          padding-bottom: 1.75rem;

                          & ul li a::after {
                            margin-left: 0.3125rem;
                            content: var(--icon-arrow-right-thin);
                            font-family: var(--cme-group-icons);
                            color: var(--white);
                            font-size: 100%;
                            transform: rotate(-45deg);
                          }
                        }
                      }

                      &.account-container {
                        padding-bottom: 1.5625rem;
                        & li {
                          & a::after {
                            color: var(--blue5);
                            content: var(--icon-chevron-right);
                            font-family: var(--cme-group-icons);
                            margin-left: 0.3125rem;
                            font-weight: 400;
                          }
                        }
                      }
                    }
                  }
                }

                & .nav-logout {
                  color: var(--white);
                  margin-left: 1.5625rem;
                  width: 10rem;
                  justify-content: center;
                }
              }
            }

            & .submenu-home-link {
              & a {
                align-items: center;
                color: var(--white);
                display: block;
                font-size: 0.875rem;
                letter-spacing: 0.09rem;
                line-height: 1.375rem;
                margin-bottom: 0;
                position: relative;
                transition: background-color 0.1s ease;
                padding-top: 0.9375rem;

                @media (width >= 481px) {
                  font-size: 1rem;
                }
              }
            }

            & .navigation-link,
            & .login-navigation-link,
            & .submenu-link {
              background-color: var(--blue1);
              color: var(--white);
              text-transform: uppercase;
              position: relative;
              padding: 0.9375rem 1rem;
              font-size: 1rem;
              line-height: 1.5rem;
              letter-spacing: 0.1322rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: background-color 0.1s ease;

              @media (width >= 993px) {
                background-color: transparent;
              }

              &:hover {
                color: var(--blue5);
              }

              &::after {
                content: var(--icon-plus);
                font-family: var(--cme-group-icons);
                pointer-events: none;
              }
            }

            & .navigation-link {
              @media (width >= 993px) {
                color: var(--gray7);
                padding: 0;

                &::after {
                  content: "";
                }
              }
            }

            &.is-open {
              & .submenu-home-link {
                @media (width >=993px) {
                  display: block;
                  margin-top: 3.125rem;
                  margin-bottom: 0.9375rem;
                }
                & a {
                  @media (width >= 481px) {
                    font-size: 1rem;
                    font-weight: 700;
                  }
                  @media (width >= 993px) {
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                  }
                }
                & a:hover {
                  color: var(--blue5);
                  background-color: transparent;
                }
                & a::after {
                  margin-left: 1rem;
                  content: var(--icon-chevron-right);
                  font-family: var(--cme-group-icons);
                  color: var(--blue5);
                  font-size: 80%;
                }
                & a:hover::after {
                  margin-left: 1.3125rem;
                }
              }

              & .navigation-link::after,
              & .login-navigation-link::after {
                content: var(--icon-minus);
                font-family: var(--cme-group-icons);
                pointer-events: none;
              }

              &.primary {
                & .submenu {
                  &#nav-menu-0,
                  &#nav-menu-1 {
                    & .submenu-container {
                      & .submenu-column {
                        @media (width >= 993px) {
                          width: 58.3333%;
                        }
                      }

                      & .promo-box-column {
                        @media (width >= 993px) {
                          width: 41.6666%;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.primary {
              font-weight: 700;
            }

            &.secondary {
              font-weight: 400;
              position: relative;

              & [aria-controls="nav-menu-0"]:before {
                border-top: 0.0625rem solid var(--gray3);
                content: "";
                display: block;
                position: absolute;
                inset: 0 0 auto 0;

                @media (width >= 993px) {
                  display: none;
                }
              }

              &::before {
                @media (width >= 993px) {
                  color: var(--gray3);
                  content: "|";
                  display: inline-block;
                  margin-right: 1.25rem;
                }
              }

              & ~ .secondary::before {
                @media (width >= 993px) {
                  border-top: 0;
                  content: "";
                  display: none;
                  margin: 0;
                }
              }

              &.has-menu {
                &.is-open {
                  & .submenu {
                    @media (width >= 993px) {
                      left: 25%;
                      width: auto;
                      right: 0;
                    }
                  }
                }
              }
            }

            &.has-menu {
              &.is-open {
                position: relative;

                & > a {
                  @media (width >= 993px) {
                    color: var(--blue5);
                    &::after {
                      border-bottom: 0.5625rem solid var(--blue2);
                      border-left: 0.5625rem solid transparent;
                      border-right: 0.5625rem solid transparent;
                      content: "";
                      height: 0;
                      left: auto;
                      margin: 0 auto;
                      opacity: 1;
                      position: absolute;
                      right: calc(50% - 0.3125rem);
                      top: 3.3125rem;
                      transition-delay: 0s;
                      visibility: visible;
                      width: 0;
                    }
                  }
                }

                & .submenu {
                  display: block;

                  @media (width >= 993px) {
                    display: flex;
                    position: fixed;
                    top: 6.25rem;
                    background-color: var(--blue2);
                    border: 0;
                    border-radius: 0;
                    left: 0;
                    padding: 0;
                    width: 100vw;
                    margin-top: 0;
                    opacity: 1;
                    transition-delay: 0s;
                    visibility: visible;
                  }

                  & .submenu-container {
                    @media (width >= 993px) {
                      display: flex;
                      margin: 0 auto;
                      max-width: 94.5rem;
                      position: relative;
                      width: 100%;
                      padding-left: 4.125rem;
                    }

                    @media (width >= 1201px) {
                      padding-left: 5.5rem;
                      overflow-y: auto;
                      max-height: calc(100vh - 6.25rem);
                    }

                    & .submenu-column {
                      padding: 0 1.875rem 0;

                      @media (width >= 993px) {
                        width: 66.6666%;
                        padding: 0;
                      }
                    }

                    & .promo-box-column {
                      @media (width >= 993px) {
                        width: 33.3333%;
                      }

                      .layout {
                        @media (width >= 993px) {
                          display: flex;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        & .mobile-right-side-in-nav {
          @media (width >= 993px) {
            display: none;
          }
          & button {
            justify-content: center;
          }
        }

        & a {
          color: var(--gray13);
          text-decoration: none;
        }

        & .site-header-logo {
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          line-height: 1.125rem;
          font-weight: 700;
          margin-left: 0.375rem;

          &.hidden {
            display: none;
          }

          &.logo-white {
            & svg {
              & > path {
                fill: var(--white);
              }
            }
          }

          @media (width >= 993px) {
            margin-right: 0.75rem;
            margin-left: 0;
          }

          @media (width >= 1201px) {
            margin-right: 3.75rem;
          }
        }
      }
    }

    & button {
      &.btn-search,
      &.btn-menu-close,
      &.btn-menu-toggle {
        align-items: center;
        background-color: transparent;
        border-radius: 0;
        border-width: 0 0 0 0.0625rem;
        box-shadow: none;
        color: var(--gray3);
        font-size: 1rem;
        height: 3.125rem;
        line-height: 1.875rem;
        padding: 0;
        width: 3.125rem;
      }

      &.btn-menu-toggle:focus,
      &.btn-menu-close:focus {
        box-shadow: none;
      }

      &.btn-menu-toggle {
        &:hover {
          color: var(--gray3);
          cursor: pointer;
        }

        &::after {
          content: var(--icon-menu);
          font-family: var(--cme-group-icons);
        }
      }

      &.btn-search {
        border: 0.0625rem solid rgba(0 0 0 / 10%);
        border-bottom: none;
        border-top: none;

        &:hover {
          color: var(--black);
          cursor: pointer;
        }

        &::before {
          content: var(--icon-search);
          font-family: var(--cme-group-icons);
          font-size: 1rem;
          font-weight: normal;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }

    & .search-overlay {
      &.is-open {
        background-color: var(--gray3);
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: fixed;
        top: 0;
        transition: visibility 0.2s linear, opacity 0.2s linear;
        width: 100%;
        z-index: 4;
      }
    }

    & .nav-overlay {
      &.is-open {
        background-color: var(--gray3);
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: fixed;
        top: 0;
        transition: visibility 0.2s linear, opacity 0.2s linear;
        width: 100%;
        z-index: 3;

        @media (width >= 993px) {
          top: 6.25rem;
        }
      }
    }
  }
}
