.quiz {
  display: none;

  &.showed {
    display: block;
    position: relative;
    overflow: hidden;
  }

  & .progress-bar {
    &.linear {
      background-color: var(--blue6);
      margin-bottom: 1.875rem;
      border-radius: 0.375rem;

      .progress {
        border-radius: 0.375rem;
        background-color: var(--blue4);
        height: 0.625rem;
        transition: width 0.2s ease 0s;
      }
    }
  }

  & .progress-bar-wrapper {
    position: relative;
    display: inline-block;
    width: 11.875rem;
    height: 11.875rem;

    &.passed {
      background-color: var(--notification-success-background);
    }

    &.failed {
      background-color: var(--pink);
    }

    & img.progress-circular {
      display: block;
      width: 100%;
      height: 100%;
    }

    & .progress-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.625rem;
      letter-spacing: 0.0625rem;
      line-height: 4.5rem;
      color: var(--blue2);
      font-weight: 700;
      text-align: center;
      pointer-events: none;
    }
  }

  & .question-text {
    font-family: var(--averta);
    font-weight: 400;
    color: var(--gray3);
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 1.875rem;
  }

  & .quiz-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.25rem;
    align-items: center;
    padding-bottom: 3rem;
    position: relative;
  }

  & .results-link {
    display: inline-block;
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    cursor: pointer;
    text-align: center;
    width: 100%;

    & a:hover {
      text-decoration: none;
    }
  }

  & .quiz-prev,
  & .quiz-next {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  & .option-item {
    margin-bottom: 0.625rem;
  }

  & .option-content-answer {
    width: 100%;
    border-radius: 0.1875rem;
    background-color: var(--blue6);
    padding: 1.125rem 1.25rem;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: none;
    cursor: pointer;
    text-transform: none;

    &.pressed {
      margin-bottom: 0.3125rem;

      & .option-text {
        color: var(--gray2);
      }

      & .option-icon {
        &::before {
          font-family: var(--cme-group-icons);
          font-style: normal;
          line-height: 1;
          color: var(--white);
          border-radius: 50%;
          padding: 0.25rem;
          display: inline-block;
        }
      }

      &.correct {
        background-color: var(--notification-success-background);
        border: 0.125rem solid var(--notification-success-tick);

        & .option-icon {
          border: none;

          &::before {
            content: var(--icon-check);
            background-color: var(--notification-success-tick);
            margin-left: -0.25rem;
          }
        }
      }

      &.incorrect {
        background-color: var(--pink);
        border: .0625rem solid var(--active-red);

        & .option-icon {
          border: none;

          &::before {
            content: var(--icon-menu-close);
            background-color: var(--active-red);
            margin-left: -0.25rem;
          }
        }
      }
    }
  }

  & .option-text {
    font-family: var(--averta);
    font-weight: 400;
    color: var(--blue4);
    width: calc(100% - 1.4375rem);
    text-align: left;
    pointer-events: none;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  & .option-icon {
    height: 1.1875rem;
    width: 1.1875rem;
    border-radius: 50%;
    border: 0.125rem solid var(--blue4);
    text-align: center;
    font-size: 0.9375rem;
    color: var(--white);
    pointer-events: none;
  }

  & .option-content-message {
    display: flex;
    margin-bottom: 0.9375rem;

    @media (width >= 481px) {
      margin-bottom: 1.25rem;
    }
  }

  & .question-message {
    display: none;

    &.showed {
      display: block;
      font-family: var(--averta);
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.25rem;
    }

    &.correct {
      color: var(--notification-success-tick);
    }

    &.incorrect {
      color: var(--active-red);
    }

    & .result {
      text-transform: uppercase;
      margin-right: 0.25rem;
    }

    & .snippet {
      font-family: var(--averta);
      font-weight: 400;
      color: var(--gray3);
      display: none;
      font-size: 1rem;
      line-height: 1.5rem;

      @media (width >= 481px) {
        display: inline;
      }
    }
  }

  & .arrow-prev,
  & .arrow-next {
    padding: 0;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    bottom: 0;
    outline: none;
    z-index: 1;
    background-color: transparent;
    border: .0625rem solid var(--blue5);
    top: auto;
    transform: none;

    &:hover {
      outline: none;
    }

    &:active::before {
      color: var(--blue5);
    }

    &.arrow-disabled {
      border-color: var(--gray4);
      cursor: auto;

      &::before {
        color: var(--gray4);
      }
    }

    &::before {
      font-size: 1.125rem;
      line-height: 1;
      color: var(--gray3);
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: 900;
      display: inline-block;
    }
  }

  & .arrow-finish {
    right: 0;
    padding: 0.625rem 1.375rem;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    z-index: 1;
    top: auto;
    border-radius: 0.25rem;
    box-shadow: var(--gray8-shadow);
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 0.75rem;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: var(--blue4);
    border: 0.125rem solid var(--blue4);
    color: var(--white);

    &.arrow-disabled {
      background-color: var(--gray5);
      border-color: var(--gray5);
      color: var(--gray3);
      cursor: auto;
    }
  }

  & .arrow-prev {
    border-radius: 0.25rem 0 0 0.25rem;
    left: 0;

    &::before {
      content: var(--icon-chevron-left);
      font-family: var(--cme-group-icons);
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1;
      color: var(--gray3);
      display: inline-block;
    }
  }

  & .arrow-next {
    border-radius: 0 0.25rem 0.25rem 0;
    right: 0;

    &::before {
      content: var(--icon-chevron-right);
      font-family: var(--cme-group-icons);
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1;
      color: var(--gray3);
      display: inline-block;
    }
  }

  & .custom-paging-counter {
    text-align: center;
    font-family: var(--averta, sans-serif);
    font-weight: 600;
    color: var(--gray4);
    font-size: 0.75rem;
    width: 100%;
    position: absolute;
    bottom: 0.4375rem;
    display: block;
  }

  &.complete {
    & .message {
      background-color: var(--notification-success-background);
      display: flex;
      margin-bottom: 3.75rem;
      border-radius: 0.1875rem;

      & .message-label {
        background-color: var(--notification-success-tick);
        padding: 0.9375rem;
        display: flex;
        border-radius: 0.1875rem 0 0 0.1875rem;

        & .icon {
          border-radius: 50%;
          padding: 0.25rem;
          width: 1.6875rem;
          height: 1.6875rem;
          text-align: center;
          font-size: 1.1875rem;
          align-self: center;
          background-color: var(--white);

          &::before {
            content: var(--icon-check);
            font-family: var(--cme-group-icons);
            font-style: normal;
            font-size: 1.125rem;
            line-height: 1;
            color: var(--notification-success-tick);
            display: inline-block;
            margin-top: 0.3125rem;
          }
        }
      }

      & .message-text {
        display: flex;
        font-family: var(--averta);
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 1.125rem;
        align-self: center;
        color: var(--notification-success-tick);
      }
    }

    & .slider .custom-paging {
      display: none;
    }
  }

  & .review-questions {
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 1.875rem;

    .question-link {
      padding-top: 0.5625rem;
      height: 1.625rem;
      width: 2.313rem;
      border-radius: 0.25rem;
      text-align: center;
      text-transform: uppercase;
      margin-right: 0.3125rem;
      margin-bottom: 0.3125rem;
      font-family: var(--averta);
      color: var(--gray2);
      letter-spacing: 0;
      line-height: 1.25rem;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

      &.correct {
        border: 0.0625rem solid var(--forest);

        &.selected {
          box-shadow: 0 0 0.3125rem 0 var(--black-50);
          background-color: var(--notification-success-background);
        }
      }

      &.incorrect {
        border: 0.0625rem solid var(--active-red);

        &.selected {
          background-color: var(--pink);
        }
      }
    }
  }

  & .congratulation-container,
  & .test-results-container {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .badge-img-container {
      margin: 3.75rem 0 2.5rem;
    }

    & .review-answers {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    & button {
      margin-bottom: 1.5rem;
    }

    & p.results {
      margin-top: 1.5rem;
    }
  }
}

main > .section > .quiz-wrapper {
  margin: 1.25rem 0;
  padding: 1.25rem !important;
  border: .0625rem solid var(--gray6);

  &:has(.activity),
  &:has(.test) {
    & .quiz {
      & .arrow-prev {
        width: auto;
        font-size: 0.75rem;
        line-height: 0.75rem;
        padding: 0.875rem 1rem 1rem;

        &::before {
          margin-right: 0.5rem;
          font-size: 0.75rem;
        }

        &.arrow-disabled {
          border-color: var(--gray4);
          cursor: auto;

          &::before {
            color: var(--gray4);
            font-size: 0.75rem;
          }
        }
      }

      & .arrow-next {
        width: auto;
        font-size: 0.75rem;
        line-height: 0.75rem;
        padding: 0.875rem 1rem 1rem;

        &::before {
          content: none;
        }

        &::after {
          content: var(--icon-chevron-right);
          font-family: var(--cme-group-icons);
          font-style: normal;
          font-size: 0.75rem;
          line-height: 1;
          color: var(--gray3);
          display: inline-block;
          margin-left: 0.5rem;
        }

        &.arrow-disabled {
          border-color: var(--gray4);
          cursor: auto;

          &::after {
            color: var(--gray4);
          }
        }
      }

      & .option-content-answer {
        border: 0.0625rem solid var(--blue4);

        &.pressed {
          border: 0.125rem solid var(--blue4);
        }
      }

      & .multi-correct {
        & .option-icon {
          border-radius: 0;

          &::before {
            border-radius: 0;
          }
        }
      }
    }

    &:has(.is-review) {
      background-color: var(--gray5-40);

      & .quiz {
        & .option-content-answer:not(.correct) {
          background-color: var(--gray6);
          border-color: var(--gray3);
          
          & .option-text {
            color: var(--gray3);
          }

          & .option-icon {
            display: none;
          }
        }
        
        & .option-content-answer.pressed {
          border: 0.125rem solid var(--notification-success-tick);
          background-color: var(--notification-success-background);

          &.incorrect {
            border: 0.125rem solid var(--active-red);
            background-color: var(--pink);

            & .option-icon::before {
              background-color: var(--active-red);
            }
          }
          
          & .option-icon {
            display: block;
            
            &::before {
              background-color: var(--notification-success-tick);
            }
          }
        }
      }
    }
  }

  &:has(.activity) {
    background-color: var(--blue6-40);
    border: none;

    & .quiz {
      & .option-content-answer.correct {
        border: 0.125rem solid var(--notification-success-tick);
      }

      & .option-content-answer.incorrect {
        border: 0.125rem solid var(--active-red);
      }
    }
  }

  &:has(.test) {
    & .quiz {
      & .option-content-answer.pressed {
        & .option-icon {
          background-color: var(--blue4);
          border: none;

          &::before {
            content: var(--icon-check);
            background-color: var(--blue4);
          }
        }
      }
    }
  }
}

.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;

  &.active {
    opacity: 1;
    transform: translateX(0%);
    z-index: 2;
    position: relative;
  }

  &.slide-in-left {
    transform: translateX(-100%);
  }

  &.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
  }
}

.questions-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: transform 0.5s ease-in-out;

  & > div {
    overflow: hidden;
    flex: 0 0 100%;
  }
}
