/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("variables.css");
@import url("cme-icons.css");
@import url("colors.css");
@import url("util-styles.css");
@import url("util-styles-responsive.css");

:root {
    /* colors */
    --background-color: var(--white);
    --light-color: var(--gray5);
    --dark-color: var(--gray8);
    --text-color: var(--gray3);
    --title-color: var(--blue2);
    --link-color: var(--blue5);
    --link-hover-color: var(--blue5);

    /* fonts */
    --body-font-family: var(--averta-regular), arial, sans-serif;
    --heading-font-family: var(--averta), arial, sans-serif;

    /* body sizes */
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 42px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 26px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 16px;
    --heading-font-size-xs: 11px;

    /* nav height */
    --nav-height: 64px;
    --nav-faux-height: 50px;

    /* Global breakpoints */
    --screen-xs-min: 0;
    --screen-sm-min: 481px;
    --screen-md-min: 769px;
    --screen-lg-min: 993px;
    --screen-xl-min: 1201px;
    --screen-xxl-min: 1401px;

    /* Container max sizes */
    --container-xs-max: 480px;
    --container-sm-max: 768px;
    --container-md-max: 992px;
    --container-lg-max: 1200px;
    --container-xl-max: 1400px;
    --container-xxl-max: 1600px;

    /* Container paddings */
    --container-padding-xs: 24px;
    --container-padding-sm: 32px;
    --container-padding-md: 54px;
    --container-padding-lg: 66px;
    --container-padding-xl: 88px;
    --container-padding-xxl: 88px;
}

body {
    line-height: 1.5rem;
    letter-spacing: normal;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-s);
    margin: 0;
    display: none;
}

body.appear {
    display: block;
}

@media (width >= 769px) {
    body {
        font-size: var(--body-font-size-m);
    }
}

body.curtain-visible {
    overflow: hidden;
}

@media (width >= 993px) {
    body.include-nav {
        margin-top: 0;
    }
}

main {
    padding-top: 3.125rem;
}

@media (width >= 993px) {
    main {
        padding-top: 6.25rem;
    }
}

.header {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 100000;
}

@media (width >= 993px) {
    .header {
        background-color: var(--white);
    }
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    color: var(--title-color);
    margin-top: 0;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.375rem;
    line-height: 1.75rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h5 {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.1462rem;
}

h6 {
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    letter-spacing: 0.0206rem;
    margin-bottom: 0.625rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h5,
h6 {
    font-weight: 700;
}

@media (width >=769px) {
    h1 {
        font-size: var(--heading-font-size-xxl);
        line-height: 3.375rem;
        letter-spacing: 0.0262rem;
        margin-bottom: 1.875rem;
    }

    h2 {
        font-size: var(--heading-font-size-xl);
        line-height: 2.625rem;
        letter-spacing: 0.0262rem;
        margin-bottom: 1.875rem;
    }

    h3 {
        font-size: var(--heading-font-size-l);
        line-height: 2.125rem;
        letter-spacing: 0.0262rem;
        margin-bottom: 1.875rem;
    }

    h4 {
        font-size: var(--heading-font-size-m);
        line-height: 1.625rem;
        letter-spacing: 0.0262rem;
        margin-bottom: 1.875rem;
    }

    h5 {
        font-size: var(--heading-font-size-s);
        line-height: 1.375rem;
        letter-spacing: 0.09rem;
        margin-bottom: 1.875rem;
    }

    h6 {
        font-size: var(--heading-font-size-xs);
        line-height: 0.875rem;
        margin-bottom: 0.9375rem;
    }

    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 1.25rem;
    }
}

p,
dl,
ol,
ul,
pre,
blockquote {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
}

code,
pre {
    font-size: var(--body-font-size-s);
}

pre {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--light-color);
    overflow-x: auto;
    white-space: pre;
}

input,
textarea,
select,
button {
    font: inherit;
}

/* p */
p {
    font-family: var(--body-font-family);
    font-weight: 400;
    margin-bottom: 0.9375rem;
    font-size: var(--body-font-size-m);
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
}

@media(width >=481px) {
    p {
        margin-bottom: 1.875rem;
    }
}

/* links */
a,
a code {
    color: var(--link-color);
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

a:hover,
a:hover code {
    color: var(--link-hover-color);
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

a:visited,
a:visited code {
    color: var(--link-color);
    font-family: inherit;
    font-size: inherit;
}

/* ul */
ol,
ul {
    padding-inline-start: 2.5rem;
    margin-bottom: 1.875rem;
}

ol li,
ul li {
    margin-bottom: 0.625rem;
}

/* HR Default Styles */
hr {
    background-color: var(--gray5);
    border: none;
    color: var(--gray5);
    height: 0.0625rem;
    margin-bottom: 1.25rem;
}

.block-divider-line hr {
  background-color: var(--gray4);
  color: var(--gray5);
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.icon {
    display: inline-block;
    height: 0.875rem;
    width: 0.875rem;
}

.icon img {
    height: 100%;
    width: 100%;
}

/* buttons */
a.button,
button {
    border-radius: 0.25rem;
    font-family: var(--averta);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.0938rem;
    padding: 0.625rem 1.375rem;
    text-transform: uppercase;
    vertical-align: middle;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(60 64 67 / 30%), 0 0.125rem 0.375rem 0.125rem rgba(60 64 67 / 15%);
    background-image: none !important;
    border: none;
    display: inline-flex;
    align-items: center;
    color: var(--blue4);
    gap: 0.25rem;
}

a.button,
a.button:active,
a.button:focus,
button:active,
button:focus {
    box-shadow: none;
}

a.button.primary,
button.primary,
button.primary a {
    font-size: 0.75rem;
    letter-spacing: 0.0938rem;
    line-height: 0.75rem;
    background-color: var(--blue4);
    color: var(--white);
    border: 0.125rem solid var(--blue4);
}

a.button.primary:active,
button.primary:active,
button.primary:active a {
    border-color: var(--blue-active-state) !important;
    background-color: var(--blue-active-state) !important;
    color: var(--white) !important;
    text-decoration: none;
}

a.button.primary:disabled,
a.button.primary[disabled],
a.button.primary.disabled,
button.primary:disabled,
button.primary[disabled],
button.primary.disabled,
button.primary.disabled a,
button.primary[disabled] a {
    background-color: var(--gray5);
    border-color: var(--gray5);
    color: var(--gray3);
    text-decoration: none;
}

a.button.primary:hover,
button.primary:hover,
button.primary:hover a {
    background-color: var(--blue5);
    border-color: var(--blue5);
    color: var(--blue2);
    text-decoration: none;
}

a.button.primary.inactive:hover,
a.button.primary.inactive:active,
button.primary.inactive:hover,
button.primary.inactive:active,
button.primary.inactive:hover a,
button.primary.inactive:active a {
    background-color: var(--blue4);
    border-color: var(--blue4);
    color: var(--white);
    text-decoration: none;
}

a.button.secondary,
button.secondary {
    background-color: transparent;
    border: 0.125rem solid;
    box-shadow: none;
    font-size: 0.75rem;
    padding: 0.625rem 1.375rem;
    line-height: 0.75rem;
    letter-spacing: 0.0938rem;
    border-color: var(--blue5);
    color: var(--gray3);
}

a.button.secondary:hover,
button.secondary:hover {
    background-color: var(--blue5) !important;
    border-color: var(--blue5) !important;
    color: var(--blue2) !important;
}

a.button.secondary:active,
button.secondary:active {
    color: var(--white) !important;
    border-color: var(--blue-active-state) !important;
    background-color: var(--blue-active-state) !important;
}

a.button.secondary:disabled,
a.button.secondary[disabled],
a.button.secondary.disabled,
button.secondary:disabled,
button.secondary[disabled],
button.secondary.disabled {
    color: var(--gray4);
    border-color: var(--gray4);
}

a {
    &.button {
        & .icon {
            & img {
                filter: brightness(0) saturate(100%) invert(26%) sepia(88%) saturate(1596%) hue-rotate(182deg) brightness(97%) contrast(102%);
            }
        }
    }
}

/* sections */
main>.section {
    margin-bottom: 1.875rem;
}

@media (width > 768px) {
    main .section {
        margin-bottom: 3.75rem;
    }
}

main>.section:first-of-type {
    margin-top: 0;
}

main > .section:not(.full-width) > div,
.container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: var(--container-padding-xs);
    padding-right: var(--container-padding-xs);
    max-width: var(--container-xs-max);
}

@media (width > 480px) {
    main > .section:not(.full-width) > div,
    .container {
        padding-left: var(--container-padding-sm);
        padding-right: var(--container-padding-sm);
        max-width: var(--container-sm-max);
    }
}

@media (width > 768px) {
    main > .section:not(.full-width) > div,
    .container {
        padding-left: var(--container-padding-md);
        padding-right: var(--container-padding-md);
        max-width: var(--container-md-max);
    }
}

@media (width > 992px) {
    main > .section:not(.full-width) > div,
    .container {
        padding-left: var(--container-padding-lg);
        padding-right: var(--container-padding-lg);
        max-width: var(--container-lg-max);
    }
}

@media (width > 1200px) {
    main > .section:not(.full-width) > div,
    .container {
        padding-left: var(--container-padding-xl);
        padding-right: var(--container-padding-xl);
        max-width: var(--container-xl-max);
    }
}

@media (width > 1400px) {
    main > .section:not(.full-width) > div,
    .container {
        padding-left: var(--container-padding-xxl);
        padding-right: var(--container-padding-xxl);
        max-width: var(--container-xxl-max);
    }
}

/* section metadata */
main .section.light,
main .section.highlight,
main .section.gray5-background {
    background-color: var(--gray5);
    padding: 1.875rem 0;
}

main .section.blue3-background {
    background-color: var(--blue3);
    padding: 1.875rem 0;
    color: var(--white);
}

main .section.blue2-background {
    background-color: var(--blue2);
    padding: 1.875rem 0;
    color: var(--white);
}

main>.section.gray5-background:last-of-type,
main>.section.blue3-background:last-of-type,
main>.section.blue2-background:last-of-type {
    margin-bottom: 0;
}

main .section.blue3-background h2,
main .section.blue3-background h3,
main .section.blue3-background h4,
main .section.blue3-background h5 {
    color: var(--white);
}

main .section.blue2-background h2,
main .section.blue2-background h3,
main .section.blue2-background h4,
main .section.blue2-background h5 {
    color: var(--white);
}

@media (width > 768px) {
    main .section.light,
    main .section.highlight,
    main .section.gray5-background,
    main .section.blue3-background,
    main .section.blue2-background {
        padding: 3.75rem 0;
    }
}

/* Section Layouts */

main .section .layout {
    display: flex;
    flex-wrap: wrap;
}

main .section .layout > div {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1.25rem;
}

@media (width > 768px) {
    main .section .layout > div {
        padding: 0 0.9375rem;
    }

    main .section .layout > div:first-child {
        padding-left: 0;
    }

    main .section .layout > div:last-child {
        padding-right: 0;
    }

    main .section .layout .w-10 {
        width: 10%;
    }

    main .section .layout .w-20 {
        width: 20%;
    }

    main .section .layout .w-30 {
        width: 30%;
    }

    main .section .layout .w-40 {
        width: 40%;
    }

    main .section .layout .w-50 {
        width: 50%;
    }

    main .section .layout .w-60 {
        width: 60%;
    }

    main .section .layout .w-70 {
        width: 70%;
    }

    main .section .layout .w-80 {
        width: 80%;
    }

    main .section .layout .w-90 {
        width: 90%;
    }

}

/* Loading overlay animation */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* Full screen overlay for animation */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 30%);
  display: none;
  z-index: 1000;
}

/* Loading spinner */
body::before {
  content: '';
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.125rem;
  height: 3.125rem;
  border: 0.1875rem solid var(--blue4);
  border-top-color: transparent;
  border-radius: 50%;
  display: none;
  z-index: 1001;
}

/* Show overlay and spinner when loading */
body.loading::after,
body.loading::before {
  display: block;
}

/* Add animation only to the spinner */
body.loading::before {
  animation: loading 0.75s linear infinite;
}

.alerts {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.alerts .alert-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--blue6);
    color: var(--gray3);
}

@media (width >= 993px) {
    .alerts .alert-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

.alerts .alert-item .alert-text a:hover {
    color: var(--blue3);
}

.alerts .alert-item .alert-text a.btn.primary {
    color: var(--white);
}

.alerts .alert-item .alert-text a.btn {
    color: var(--blue4);
}

.alerts .alert-item .alert-text a.btn.primary:hover {
    color: var(--blue3);
}

.alerts .alert-item.standard-primary {
    background-color: var(--blue6);
    color: var(--gray3);
}

.alerts .alert-item.standard-secondary {
    background-color: var(--gray6);
    color: var(--gray3);
}

.alerts .alert-item.non-serious {
    background-color: var(--yellow);
    color: var(--gray3);
}

.alerts .alert-item.serious {
    background-color: var(--pink);
    color: var(--gray3);
}

.alerts .alert-item.gcc-serious {
    background-color: var(--pink);
    color: var(--gray3);
}

.alerts .alert-item.gcc-serious .alert-icon::before {
    content: var(--icon-attention-triangle);
    color: var(--active-red);
    font-family: var(--cme-group-icons);
    font-style: normal;
    position: absolute;
}

.alerts .alert-item .alert-gcc-container {
    display: inline-block;
    width: 94%;
}

.alerts .alert-item .alert-gcc-container .alert-title {
    color: var(--blue2);
    display: inline-block;
    font-weight: bold;
    padding-left: 1.5rem;
}

.alerts .alert-item .alert-gcc-container .alert-text {
    display: inline-block;
    padding-left: 0.5rem;
}

.alerts .alert-item .alert-gcc-container .alert-time {
    display: inline-block;
    padding-left: 0.5rem;
    font-size: 0.75rem;
}

@media (width < 993px) {
    .alerts .alert-item .container {
        padding: 0 0.625rem;
    }
}

/* Custom styles defined in transform alerts rte */

.green {
    color: var(--green);
}

.citron {
    color: var(--citron);
}

.blue2 {
    color: var(--blue2);
}

.blue4 {
    color: var(--blue4);
}

.white {
    color: var(--white);
}

.gray4 {
    color: var(--gray4);
}

.gray5 {
    color: var(--gray5);
}

.gray6 {
    color: var(--gray6);
}

.bg-citron {
    background-color: var(--citron);
}

.bg-green {
    background-color: var(--green);
}

/* share this z-index override */
#st-2.st-right {
    z-index: 0 !important;
}