<table class="htTable">
  <tr><td colspan="5" class="htTableHeader">Weekly Export Sales Estimates</td></tr>
  <tr><td class="htColHeader"></td><td colspan="2" class="htColHeader">Range</td><td colspan="2" class="htColHeader">Last</td></tr>
  <tr><td class="htColHeader">Current & Next Year</td><td class="htColHeader">Low</td><td class="htColHeader">High</td><td class="htColHeader">Week</td><td class="htColHeader">Year</td></tr>
  <tr><td class="htRowTitle">Corn</td><td class="htData">650</td><td class="htData">1,300</td><td class="htData">981</td><td class="htData">1186</td></tr>
  <tr><td class="htRowTitle">Soybeans</td><td class="htData">250</td><td class="htData">800</td><td class="htData">795</td><td class="htData">494</td></tr>
  <tr><td class="htRowTitle">Soybean Meal</td><td class="htData">0</td><td class="htData">350</td><td class="htData">186</td><td class="htData">286</td></tr>
  <tr><td class="htRowTitle">Soybean Oil</td><td class="htData">10</td><td class="htData">50</td><td class="htData">69</td><td class="htData">2</td></tr>
  <tr><td class="htRowTitle">Wheat</td><td class="htData">100</td><td class="htData">650</td><td class="htData">866</td><td class="htData">176</td></tr>
  <tr><td colspan="5" class="htFooter"></td></tr>
  </table>