<table class="htTable">
  <tr><td class="htTableHeader" colspan="5">Export Sales Summary</td>
  <tr><td class="htColHeader">Ending</td><td class="htColHeader">Weekly Sales 1000 MT (Cotton in 1000 RB)</td><td class="htColHeader">Sales Needed Per Week to Meet USDA Est.</td><td class="htColHeader">Current Yr % of USDA Est</td><td class="htColHeader">5 Yr. Avg. % of USDA Est</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Soybeans - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">352.6</td><td class="htData">173.9</td><td class="htData">91.4%</td><td class="htData">88.8%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">751.7</td><td class="htData">180.9</td><td class="htData">87.6%</td><td class="htData">87.6%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">352.9</td><td class="htData">202.5</td><td class="htData">86.5%</td><td class="htData">86.5%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">410.9</td><td class="htData">208.0</td><td class="htData">85.6%</td><td class="htData">85.6%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">480.3</td><td class="htData">215.1</td><td class="htData">84.8%</td><td class="htData">84.8%</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Soymeal - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">182.2</td><td class="htData">160.7</td><td class="htData">70.8%</td><td class="htData">68.6%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">184.8</td><td class="htData">161.4</td><td class="htData">67.2%</td><td class="htData">67.2%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">236.6</td><td class="htData">162.1</td><td class="htData">65.6%</td><td class="htData">65.6%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">176.5</td><td class="htData">164.5</td><td class="htData">63.6%</td><td class="htData">63.6%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">316.9</td><td class="htData">164.9</td><td class="htData">62.0%</td><td class="htData">62.0%</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Bean Oil - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">34.2</td><td class="htData">-4.8</td><td class="htData">118.7%</td><td class="htData">56.9%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">68.5</td><td class="htData">-3.4</td><td class="htData">54.7%</td><td class="htData">54.7%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">54.8</td><td class="htData">-1.1</td><td class="htData">52.4%</td><td class="htData">52.4%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">18.4</td><td class="htData">0.7</td><td class="htData">48.2%</td><td class="htData">48.2%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">19.4</td><td class="htData">1.2</td><td class="htData">47.5%</td><td class="htData">47.5%</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Corn - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">1,496.7</td><td class="htData">417.5</td><td class="htData">83.6%</td><td class="htData">76.2%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">967.3</td><td class="htData">459.9</td><td class="htData">74.0%</td><td class="htData">74.0%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">909.1</td><td class="htData">479.1</td><td class="htData">71.4%</td><td class="htData">71.4%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">788.7</td><td class="htData">494.8</td><td class="htData">70.2%</td><td class="htData">70.2%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">1,453.8</td><td class="htData">505.1</td><td class="htData">68.6%</td><td class="htData">68.6%</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Wheat - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">-248.8</td><td class="htData">94.0</td><td class="htData">90.1%</td><td class="htData">89.9%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">783.4</td><td class="htData">80.5</td><td class="htData">88.8%</td><td class="htData">88.8%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">338.7</td><td class="htData">107.1</td><td class="htData">87.4%</td><td class="htData">87.4%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">269.0</td><td class="htData">115.6</td><td class="htData">86.0%</td><td class="htData">86.0%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">532.7</td><td class="htData">120.9</td><td class="htData">84.5%</td><td class="htData">84.5%</td></tr>
  
  <tr><td class="htSectionHeader" colspan="5">Cotton  - 2024/2025 Marketing Year</td></tr>
  <tr><td class="htRowTitle">Mar-13</td><td class="htData">101.1</td><td class="htData">2.7</td><td class="htData">99.4%</td><td class="htData">96.3%</td></tr>
  <tr><td class="htRowTitle">Mar-06</td><td class="htData">271.8</td><td class="htData">6.5</td><td class="htData">94.4%</td><td class="htData">94.4%</td></tr>
  <tr><td class="htRowTitle">Feb-27</td><td class="htData">241.5</td><td class="htData">16.6</td><td class="htData">92.1%</td><td class="htData">92.1%</td></tr>
  <tr><td class="htRowTitle">Feb-20</td><td class="htData">166.9</td><td class="htData">24.8</td><td class="htData">90.5%</td><td class="htData">90.5%</td></tr>
  <tr><td class="htRowTitle">Feb-13</td><td class="htData">312.5</td><td class="htData">29.8</td><td class="htData">89.1%</td><td class="htData">89.1%</td></tr>
  
  
  <tr><td colspan="5" class="htFooter"></td></tr>
  </table>