.block.search {
  & .pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    @media (width >= 769px) {
      justify-content: flex-end;
    }
  }

  & .pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0.125rem solid var(--gray4);
    border-radius: 0.25rem;
    overflow: hidden;

    & .pagination-item {
      margin-bottom: 0;

      &:first-of-type {
        border-right: 0.125rem solid var(--gray4);
      }

      &:last-of-type {
        border-left: 0.125rem solid var(--gray4);
      }

      & a {
        display: flex;
        align-items: center;
        height: 2rem;
        padding: 0 0.75rem;
        color: var(--blue4);
        text-decoration: none;
        font-size: 1rem;
        transition: all 0.2s ease;
      }

      &:hover:not(.disabled):not(.active) a {
        background-color: var(--gray5);
      }

      &.active {
        background-color: var(--gray4);
      }

      &.disabled {
        opacity: 0.5;

        & a {
          cursor: not-allowed;
          color: var(--gray3);
        }
      }
    }
  }

  & .pagination-ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    color: var(--gray3);
    font-size: 1rem;
    border-right: 0.125rem solid var(--gray4);

    &:last-child {
      border-right: none;
    }
  }
}
