.block.search .result-card {
  background: var(--white);
  display: flex;
  gap: 0.7rem;
  border: 1px solid var(--gray4);
  /* box-shadow: inset 0 6px 0 #f1f5f7, 0 1px 5px 1px rgb(178 178 178 / 70%); */
  transition: box-shadow 0.2s, border 0.2s, transform 0.15s;
  cursor: pointer;
  flex: 1 1 340px;
  flex-direction: row;
  min-height: 150px;
  max-height: 200px;
}

.block.search .result-card .result-item {
  padding: 1rem;
  /* flex-basis: 80%; */
}

.block.search .result-card img {
  flex-basis: 20%;
  max-width: 313px;
  display: none;
}

.block.search .result-card .result-header {
  text-transform: uppercase;
  color: var(--gray3);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.block.search .result-card .result-title {
  font-size: 20px;
  /* height: 26px; */
  font-weight: 700;
  margin-bottom: 1rem;
}

.block.search .result-card:hover .result-title::after {
  padding-left: 0.3rem;
}

.block.search .result-card .result-title::after {
  content: var(--icon-chevron-right);
  font-family: var(--cme-group-icons);
  line-height: 1;
  font-size: 16px;
  margin-left: 0.5rem;
  color: var(--blue5);
}

.block.search .result-card a {
  text-decoration: none;
  display: flex;
  gap: 1rem;
}

.block.search .result-card .result-desc {
  font-size: 14px;
  height: 60px;
  color: var(--gray3);
  margin-bottom: 1rem;
}

.block.search .result-card .result-footer {
  font-size: 12px;
  color: var(--gray3);
}

.block.search .result-card.course .result-footer {
  text-transform: uppercase;
  font-weight: 700;
}

.block.search .search-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.block.search .spinner {
  width: 25px;
  height: 25px;
  border: 4px solid var(--white);
  border-right: 4px solid var(--gray3);
  border-top: 4px solid var(--gray3);
  border-bottom: 4px solid var(--gray3);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.block.search .result-card .result-read-time {
  font-size: 12px;
  content: "";
  color: var(--gray3);
  font-style: italic;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (width > 768px) {
  .block.search .result-card img {
    display: block;
  }

  .block.search .result-card .result-item {
    flex-basis: 80%;
  }
}
