.block.search {
  & .result-card {
    background: var(--white);
    display: flex;
    gap: 0.7rem;
    border: none;
    box-shadow: inset 0 0.375rem 0 0 #f1f5f7, 0 0.0625rem 0.3125rem 0.0625rem rgb(178 178 178 / 70%);
    transition: box-shadow 0.2s, border 0.2s, transform 0.15s;
    cursor: pointer;
    flex: 1 1 21.25rem;
    flex-direction: row;
    min-height: 9.375rem;
    max-height: 13.75rem;

    & .result-item {
      padding: 1rem 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      @media (width >= 769px) {
        height: 11rem;
      }
    }

    & img {
      max-width: 19.5625rem;
      display: none;

      @media (width >= 769px) {
        display: block;
      }
    }

    & .result-header {
      text-transform: uppercase;
      color: var(--gray3);
      font-size: 0.6875rem;
      font-weight: 700;
      margin-bottom: 0.938rem;
      line-height: 0.875rem;
      letter-spacing: 0.094rem;
      line-clamp: 1;
      margin-top: 0.313rem;
    }

    & .result-title {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0.388rem;

      @media (width >= 769px) {
        span {
          display: inline-block;
          max-width: calc(100% - 30px);
          max-height: 2.8125rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
        }
      }

      &::after {
        content: var(--icon-chevron-right);
        font-family: var(--cme-group-icons);
        line-height: 1;
        font-size: 0.85rem;
        margin-left: 0.5rem;
        color: var(--blue5);
      }

      @media (width >= 769px) {
        font-size: 1.25rem;
      }
    }

    &:hover {
      .result-title::after {
        padding-left: 0.3rem;
      }
    }

    & a {
      text-decoration: none;
      display: flex;
      max-width: 100%;
    }

    & .result-desc {
      font-size: 0.875rem;
      color: var(--gray3);
      margin-bottom: 0;
      letter-spacing: 0;
      line-height: 1.25rem;
      height: 3.75rem;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: none;

      @media (width >= 481px) {
        display: block;
      }
    }

    & .result-footer {
      text-transform: uppercase;
      font-size: 0.6875rem;
      letter-spacing: 0.094rem;
      color: var(--gray3);
      font-weight: 700;

      &:not(.no-margin-top-auto) {
        margin-top: auto;
      }

      &.date {
        font-weight: 500;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: normal;
      }
    }

    &.course {
      & .result-footer {
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    & .result-read-time {
      font-size: 0.75rem;
      color: var(--gray3);
      font-style: italic;

      &.video::before {
        content: var(--icon-play);
        font-family: var(--cme-group-icons);
        line-height: 1;
        font-size: 0.6rem;
        margin-right: 0.3rem;
        color: var(--blue5);
        font-style: normal;
      }

      &::before {
        content: var(--icon-list);
        font-family: var(--cme-group-icons);
        line-height: 1;
        font-size: 0.6rem;
        margin-right: 0.3rem;
        color: var(--blue5);
        font-style: normal;
      }
    }

    & .icon-list,
    & .icon-play,
    & .icon-audio {
      margin-top: auto;
    }
  }

  & .card-standalone-lesson-thumbnail {
    & .result-title {
      max-height: 2.813rem;

      & span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        max-width: 100%;

        &::after {
          content: var(--icon-chevron-right);
          font-family: var(--cme-group-icons);
          font-size: 0.85rem;
          margin-left: 0.5rem;
          color: var(--blue5);
        }
      }

      &::after {
        content: "";
      }
    }
  }

  & .search-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.125rem;
  }

  & .spinner {
    width: 1.5625rem;
    height: 1.5625rem;
    border: 0.25rem solid var(--white);
    border-right: 0.25rem solid var(--gray3);
    border-top: 0.25rem solid var(--gray3);
    border-bottom: 0.25rem solid var(--gray3);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  & .results-wrapper {
    &.columns-1 {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & .results-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }

    &.columns-2 {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & .results-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        width: 100%;

        @media (width >= 769px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 1.875rem;
        }
      }
    }

    & .result-card {
      & .icon {
        color: var(--blue5);
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        margin-bottom: 0.5rem;
        height: 0.75rem;
        width: 0.75rem;
        filter: none;

        & img {
          display: block;
          filter: invert(72%) sepia(27%) saturate(1035%) hue-rotate(165deg) brightness(102%) contrast(98%);
        }
      }

      & .icon-list p,
      & .icon-play p,
      & .icon-audio p {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
        color: var(--gray3);
        font-size: 0.688rem;
        text-align: start;
        white-space: nowrap;
      }
    }
  }

  & .card-lesson {
    & .result-footer {
      font-style: italic;
    }
  }

  & .card-article-thumbnail {
    & .icon-list p {
      font-style: italic;
    }

    & .result-footer {
      font-style: italic;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
