.accordion {
  & details {
    border-top: 0.0625rem solid var(--gray3);
    padding: 1.875rem 0;

    &:last-child {
      border-bottom: 0.0625rem solid var(--gray3);
    }

    & p {
      margin-bottom: 0.8em;
    }

    & summary {
      position: relative;
      padding: 0 1rem;
      padding-right: 2.875rem;
      cursor: pointer;
      list-style: none;
      overflow: auto;
      font-family: var(--averta);
      color: var(--blue1);
      font-weight: 600;
      font-size: 1.625rem;
      letter-spacing: .01em;
      line-height: 2.125rem;

      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        font-family: var(--cme-group-icons);
        content: var(--icon-plus);
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.75rem;
        color: var(--blue5);
      }
    }

    &[open] summary::after {
      content: var(--icon-minus);
    }

    & .accordion-item-body {
      padding: 1rem 1rem 0;
    }
  }

  &.white-background-icon-raised {
    box-shadow: 0 .0625rem .3125rem .0625rem hsla(0deg 0% 70% / 70%);

    & details {
      border-top: none;
      border-bottom: .0625rem solid var(--gray4);
      padding: 0.9375rem 1.625rem 0.9375rem 1.25rem ;

      & summary {
        padding: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 400;

        &::after {
          color: var(--blue4);
          font-size: .875rem;
        }
      }

      & .accordion-item-body {
        padding: 1rem 0 0;
      }
    }
  }
}
