@import './course-base.css';
@import "./certificate.css";

.begin-course-button {
  margin-top: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

  @media (width >= 481px) {
    text-align: left;
  }
}

.begin-course-button a {
  display: block;
  box-sizing: border-box;
  width: 100%;

  @media (width >= 480px) {
    width: auto;
    display: inline-block;
  }
}
