main > .section:first-child {
  padding-top: 8rem;
}

main > .section {
  padding-inline: 24px;
  padding-top: 3.75rem;
  width: 100%;
  box-sizing: border-box;
}

main > .section > div {
  padding-inline: unset !important;
  width: 100% !important;
}

/* Course header styling */
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.course-header .metadata {
  flex: 1;
  font-size: .875rem;
  letter-spacing: .09375rem;
  line-height: 1.25rem;
}

.course-header .metadata.read-time {
  text-align: left;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.course-header .metadata.type {
  display: none;
  text-align: center;
}

.course-header .metadata.language {
  text-transform: none;
  text-align: right;
}

.course-header .metadata .icon img {
  width: 0.875rem;
  height: 0.875rem;
  filter: var(--blue5-filter);
}

@media (width > 480px) {
  main > .section {
    padding-inline: 2rem;
  }

  .course-header .metadata.type {
    display: block;
  }
}

@media (width > 768px) {
  main > .section {
    padding-inline: 54px;
  }
}

@media (width > 992px) {
  main > .section:first-of-type {
    padding-top: 3.5rem;
  }

  main > .section {
    padding-left: calc(8.33333% - 8.5px);
    padding-right: calc(8.33333% - 8.5px);
    width: calc(66.66667% - 98px);
    margin: auto;
  }

  main > .section.full-width {
    width: unset;
  }
}

/* Course Auth Prompt Styling */
.modal.course-auth-modal dialog {
  max-width: 30.3125rem;
  max-height: 13.75rem;

  & .modal-content {
    & .modal-header {
      display: flex;
      align-items: center;
      justify-content: left;
      border-bottom: 0.125rem solid var(--blue4);
      padding-bottom: 0.625rem;
      margin-bottom: 0.625rem;

      & .modal-title {
        font-family: var(--averta);
        font-weight: 600;
        text-transform: none;
        font-size: 1.25rem;
        line-height: 1.625rem;
        color: var(--blue2);
        letter-spacing: normal;
        margin-left: 0.5625rem;
      }
    }
        
    & .modal-body {
      font-family: var(--averta);
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--gray3);
      letter-spacing: normal;
      padding: 0;
      margin-bottom: 1.75rem;

      & .login-handler,
      & .registration-handler {
        color: var(--blue4);
          &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
      }
    }
  }
}
