main > .section:first-child {
  padding-top: 8rem;
}

main > .section {
  padding-inline: 24px;
  padding-top: 3.75rem;
  width: 100%;
}

/* Course header styling */
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.course-header .metadata {
  flex: 1;
  font-size: .875rem;
  letter-spacing: .09375rem;
  line-height: 1.25rem;
}

.course-header .metadata.read-time {
  text-align: left;
}

.course-header .metadata.type {
  display: none;
  text-align: center;
}

.course-header .metadata.language {
  text-transform: none;
  text-align: right;
}

.course-header .metadata .icon img {
  width: 0.875rem;
  height: 0.875rem;
  filter: var(--blue5-filter);
}

@media (width > 480px) {
  main > .section {
    padding-inline: 2rem;
  }

  .course-header .metadata.type {
    display: block;
  }
}

@media (width > 768px) {
  main > .section {
    padding-inline: 54px;
  }
}

@media (width > 992px) {
  main > .section:first-of-type {
    padding-top: 3.5rem;
  }

  main > .section {
    padding-left: calc(8.33333% - 8.5px);
    padding-right: calc(8.33333% - 8.5px);
    width: calc(66.66667% - 98px);
    margin: auto;
  }

  main > .section.full-width {
    width: unset;
  }
}

.view-certificate {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-dialog {
    display: flex;
    align-items: center;
    margin: 1.75rem auto;
    max-width: 54.375rem;
    pointer-events: none;
    transform: none;
    height: 100%;
}

.modal-content {
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 1rem;
    pointer-events: all;
    width: 100%;
}

.modal-open {
    overflow: hidden;
}

.modal-dialog.certificate-modal {
    max-width: 54.375rem;
}

.modal-dialog.certificate-modal .modal-header {
    border: 0;
    padding: 0;
    margin-bottom: 0.75rem;
}

.modal-dialog.certificate-modal .modal-header .modal-title {
    text-transform: none;
    font-family: var(--averta);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: var(--gray3);
    padding-right: 2.5rem;
}

.modal-dialog.certificate-modal .modal-header .modal-title .print-pdf .icon {
    font-size: 0.75rem;
}

.modal-dialog.certificate-modal .modal-content {
    position: relative;
    background-color: var(--gray5);
    padding: 0.625rem;
}

@media (width > 480px) {
    .modal-dialog.certificate-modal .modal-header .modal-title {
        font-size: 1.125rem;
        line-height: 1.4375rem;
        padding-right: 0;
    }

    .modal-dialog.certificate-modal .modal-content {
        padding: 1.25rem 1.5625rem 1.5625rem;
    }
}

.modal-dialog.certificate-modal .icon::before {
    font-family: var(--cme-group-icons);
    font-style: normal;
    line-height: 1;
    display: inline-block;
    margin-right: 0.25rem;
}

.modal-dialog.certificate-modal .icon-document-pdf::before {
    content: var(--icon-document-pdf);
    color: var(--blue4);
}

.modal-dialog.certificate-modal .icon-share::before {
    content: var(--icon-share);
    color: var(--blue4);
}

.modal-dialog.certificate-modal .btn-close {
    cursor: pointer;
    font-family: var(--cme-group-icons);
    font-style: normal;
    line-height: 1;
    display: inline-block;
    color: var(--gray3);
    box-shadow: none;
    position: absolute;
    right: 0.625rem;
    top: 0.75rem;
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
}

.modal-dialog.certificate-modal .btn-close::before {
    content: var(--icon-menu-close);
    color: var(--gray3);
}

.modal-dialog .share-buttons-container {
    display: flex;
    gap: 8px;
}

.modal-dialog.certificate-modal .modal-header .modal-title .print-pdf {
    cursor: pointer;
    color: var(--blue4);
    padding: 0;
    border: 0;
    box-shadow: none;
    text-transform: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.modal-dialog.certificate-modal .modal-header .modal-title .print-pdf:hover {
    text-decoration: underline !important;
    color: var(--blue4) !important;
}

.modal-dialog.certificate-modal .modal-body {
    background-color: var(--white);
    margin-bottom: 0;
}

.modal-dialog.certificate-modal .modal-buttons {
    display: grid;
}

@media (width > 678px) {
    .modal-dialog.certificate-modal .modal-buttons {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
    }
}

.modal-dialog.certificate-modal .buttons-container {
    display: flex;
    gap: 0.75rem;
}

.modal-dialog.certificate-modal .share-buttons {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin-left: 0.9375rem;
}

.modal-dialog.certificate-modal .spinner-border {
    margin-left: 0.9375rem;
}

.completion-certificate-container {
    display: inline-flex;
    width: 100%;
    padding: 0;
}

.completion-certificate-container .completion-data {
    font-family: var(--averta);
    font-weight: 400;
    padding: 2rem 0.9375rem 2.4375rem;
    width: 100%;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data {
        padding: 5.3125rem 1.25rem 3.25rem 5.1875rem;
    }
}

.completion-certificate-container .completion-data .certificate-header .eyebrow {
    font-family: var(--averta);
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0;
    color: var(--blue2);
    text-transform: uppercase;
    margin-bottom: 0.875rem;
}

.completion-certificate-container .completion-data .certificate-header .divider {
    border: 0.125rem solid var(--citron);
    width: 2.875rem;
    margin-bottom: 1.0625rem;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .certificate-header .divider {
        margin-bottom: 1.5625rem;
    }
}

.completion-certificate-container .completion-data .certificate-header .title {
    color: var(--completion-certificate-title);
    font-size: 1.25rem;
    line-height: 1.5625rem;
    margin-bottom: 0;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .certificate-header .title {
        font-size: 1.8125rem;
        line-height: 2.1875rem;
    }
}

.completion-certificate-container .completion-data .body .course-title {
    font-family: var(--averta);
    font-weight: 600;
    color: var(--gray2);
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .body .course-title {
        font-size: 1.1875rem;
        line-height: 1.5rem;
        margin: 1.125rem 0;
    }
}

.completion-certificate-container .completion-data .body .presented-to {
    font-family: var(--averta);
    font-weight: 600;
    color: var(--blue2);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin-bottom: 1.5625rem;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .body .presented-to {
        margin-bottom: 3.4375rem;
    }
}

.completion-certificate-container .completion-data .body .user-name {
    color: var(--gray2);
    font-size: 1.875rem;
    letter-spacing: 0;
    line-height: 2.3125rem;
    margin-bottom: 2.1875rem;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .body .user-name {
        font-size: 2.8125rem;
        line-height: 3.5rem;
        margin-bottom: 4.875rem;
    }
}

.completion-certificate-container .completion-data .body .date {
    font-family: var(--averta);
    font-weight: 600;
    color: var(--gray1);
    font-size: 0.6875rem;
    letter-spacing: 0;
    line-height: 0.875rem;
    margin-bottom: 1.375rem;
}

@media (width > 480px) {
    .completion-certificate-container .completion-data .body .date {
        margin-bottom: 2.9375rem;
    }
}

.completion-certificate-container .completion-data .footer .logo {
    width: 6.6875rem;
    height: 1.0625rem;
}

.completion-certificate-container .certificate-image {
    display: none;
}

@media (width > 480px) {
    .completion-certificate-container .certificate-image {
        display: inline-block;
    }
}

@media print {
    .completion-certificate-container .certificate-image {
        display: inline-block;
        margin-right: 5.3125rem;
    }

    .completion-certificate-container {
        margin-top: 20mm;
    }

    .completion-certificate-container .container {
        width: auto;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}

.modal-backdrop.show {
    filter: alpha(opacity=50);
    opacity: 0.5;
}
