main > .section {
  padding-inline: 24px; 
  width: 100%;
  box-sizing: border-box;
  padding-top: 0 !important;
}

main > .section:not(:first-of-type) {
  padding-top: 3.75rem;
}

main > .section > div {
  padding-inline: unset !important;
  width: 100% !important;
}

/* Course header styling */
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.course-header {
  & .metadata {
    flex: 1;
    font-size: .875rem;
    letter-spacing: .09375rem;
    line-height: 1.25rem;
  }

  & .metadata.read-time {
    text-align: left;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & .metadata.type {
    display: none;
    text-align: center;
  }

  & .metadata.language {
    text-transform: none;
    text-align: right;
  }

  & .metadata.language .language-selector-button {
    color: var(--gray3);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 0;
    align-items: center;
  }

  & .metadata.language .language-selector-button::after {
    margin-left: .75rem;
  }

  & .metadata.language .language-selector-dropdown {
    inset: 0 0 auto auto;
  }

  & .metadata.language .language-selector-dropdown ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
  }

  & .metadata.language .language-selector-dropdown li {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0 2.188rem 0 .938rem;
  }

  & .metadata.language .language-selector-dropdown li:hover {
    background-color: var(--blue6);
  }

  & .metadata.language .language-selector-dropdown li a {
    letter-spacing: 0;
  }

  & .metadata.language .language-selector-dropdown li img {
    position: absolute;
    filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1553%)
        hue-rotate(183deg) brightness(98%) contrast(101%);
  }

  & .metadata .icon img {
    width: 0.875rem;
    height: 0.875rem;
    filter: var(--blue5-filter);
  }
}

@media (width > 480px) {
  main > .section {
    padding-inline: 2rem;
  }

  .course-header {
    & .metadata.type {
      display: block;
    }
  }
}

@media (width > 768px) {
  main > .section {
    padding-inline: 54px;
  }
}

@media (width > 992px) {
  main > .section:first-of-type {
    padding-top: 3.5rem;
  }

  main > .section {
    padding-left: calc(8.33333% - 8.5px);
    padding-right: calc(8.33333% - 8.5px);
    width: calc(66.66667% - 98px);
    margin: auto;
  }

  main > .section.full-width {
    width: unset;
  }

  main > .section.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.premium-label {
  color: var(--blue2);
  font-family: var(--averta);
  font-size: .6875rem;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: .875rem;
  text-transform: uppercase;
}

/* Course Auth Prompt Styling */
.modal.course-auth-modal dialog {
  max-width: 30.3125rem;
  max-height: 13.75rem;

  & .close-button {
    padding-left: 0.625rem;
    padding-top: 0.625rem;

    &:focus-visible {
        outline: none;
    }
  }

  & .modal-content {
    margin-top: 0;
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;

    & .modal-header {
      display: flex;
      align-items: center;
      justify-content: left;
      border-bottom: 0.125rem solid var(--blue4);
      padding-bottom: 0.625rem;
      margin-bottom: 0.625rem;

      & .modal-title {
        font-family: var(--averta);
        font-weight: 600;
        text-transform: none;
        font-size: 1.25rem;
        line-height: 1.625rem;
        color: var(--blue2);
        letter-spacing: normal;
        margin-left: 0.5625rem;
        margin-bottom: 0;
      }
    }
        
    & .modal-body {
      font-family: var(--averta);
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--gray3);
      letter-spacing: normal;
      padding: 0;
      margin-bottom: 1.75rem;

      & .login-handler,
      & .registration-handler {
        color: var(--blue4);
          &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
      }
    }
  }
}
